<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 no-padding">
              <h4>{{'shared_about.privacy.Datenschutzerk' | translate}}</h4>

              <p>{{'shared_about.privacy.Anspruch' | translate}}</p>

              <p>{{'shared_about.privacy.personenbezogener' | translate}}</p>

              <p>{{'shared_about.privacy.Limited' | translate}}</p>

              <h4>{{'shared_about.privacy.Begriffsbestimmungen' | translate}}</h4>
              <p>{{'shared_about.privacy.Datenschutze' | translate}}</p>

              <p>{{'shared_about.privacy.verwenden' | translate}}</p>

              <ul style="list-style: none">
                <li>
                  <h4>{{'shared_about.privacy.personenbezogene' | translate}}</h4>
                  <p>{{'shared_about.privacy.Daten' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.betroffene' | translate}}</h4>
                  <p>{{'shared_about.privacy.Person' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Verarbeitung' | translate}}</h4>
                  <p>{{'shared_about.privacy.jeder' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Einschr' | translate}}</h4>
                  <p>{{'shared_about.privacy.Einschrnkung' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Profiling' | translate}}</h4>
                  <p>{{'shared_about.privacy.ProfilingIst' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Pseudonymisierung' | translate}}
                  </h4>
                  <p>{{'shared_about.privacy.PseudonymisierungFull' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Verantwortlicher' | translate}}
                  </h4>
                  <p>{{'shared_about.privacy.VerantwortlicherFull' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Auftragsverarbeiter' | translate}}
                  </h4>
                  <p>{{'shared_about.privacy.AuftragsverarbeiterFull' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Empf' | translate}}
                  </h4>
                  <p>{{'shared_about.privacy.EmpfFull' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Dritter' | translate}}
                  </h4>
                  <p>{{'shared_about.privacy.DritterFull' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Einwilligung' | translate}}
                  </h4>
                  <p>{{'shared_about.privacy.EinwilligungFull' | translate}}
                  </p>
                </li>
              </ul>

              <h4>{{'shared_about.privacy.Name' | translate}}
              </h4>
              <p>{{'shared_about.privacy.VerantwortlicherDesc' | translate}}
              </p>

              <p>{{'shared_about.privacy.address1' | translate}}</p>
              <p>{{'shared_about.privacy.address2' | translate}}</p>
              <p>{{'shared_about.privacy.address3' | translate}}</p>
              <p>{{'shared_about.privacy.address4' | translate}}</p>
              <p>{{'shared_about.privacy.address5' | translate}} {{env.contact.customer.template}} </p>
              <p>{{'shared_about.privacy.address6' | translate}}{{env.emails.support.template}}</p>
              <p>{{'shared_about.privacy.address7' | translate}}</p>

              <h4>{{'shared_about.privacy.Cookies' | translate}}</h4>
              <p>{{'shared_about.privacy.CookiesFull' | translate}}
              </p>

              <p>{{'shared_about.privacy.Internetseiten' | translate}}
              </p>

              <p>{{'shared_about.privacy.Durch' | translate}}
              </p>

              <p>{{'shared_about.privacy.Mittels' | translate}}
              </p>

              <p>{{'shared_about.privacy.Personbetroffene' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Erfassung' | translate}}
              </h4>
              <p>{{'shared_about.privacy.Internetseite' | translate}}
              </p>

              <p>{{'shared_about.privacy.Nutzung' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Registrierung' | translate}}
              </h4>
              <p>{{'shared_about.privacy.sich' | translate}}
              </p>

              <p>{{'shared_about.privacy.RegistrierungDurch' | translate}}
              </p>

              <p>{{'shared_about.privacy.derbetroffenen' | translate}}
              </p>

              <p>{{'shared_about.privacy.VerarbeDertung' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Newsletters' | translate}}
              </h4>
              <p>{{'shared_about.privacy.InternetseiteAuf' | translate}}
              </p>

              <p>{{'shared_about.privacy.DieLimited' | translate}}
              </p>

              <p>{{'shared_about.privacy.Anmeldung' | translate}}
              </p>

              <p>{{'shared_about.privacy.Rahmen' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Newsletter' | translate}}
              </h4>
              <p>{{'shared_about.privacy.DieNewsletter' | translate}}
              </p>

              <p>{{'shared_about.privacy.Solche' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Kontaktm' | translate}}</h4>
              <p>{{'shared_about.privacy.InternetseiteDie' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Routinem' | translate}}</h4>
              <p>{{'shared_about.privacy.VerarbeitungDer' | translate}}
              </p>

              <p>{{'shared_about.privacy.Entf' | translate}}
              </p>

              <h4>{{'shared_about.privacy.betroffenen' | translate}}</h4>
              <ul style="list-style: none;">
                <li>
                  <h4>{{'shared_about.privacy.Recht' | translate}}</h4>
                  <p>{{'shared_about.privacy.Jede' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Auskunft' | translate}}</h4>
                  <p>
                    {{'shared_about.privacy.Jedevon' | translate}}
                  </p>

                  <ul style="list-style: none;">
                    <li>{{'shared_about.privacy.Verarbeitungszwecke' | translate}}</li>
                    <li>{{'shared_about.privacy.Kategorien' | translate}}</li>
                    <li>{{'shared_about.privacy.Empfdie' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.falls' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.Bestehen' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.Bestehendas' | translate}}</li>
                    <li>{{'shared_about.privacy.wenn' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.einer' | translate}}
                    </li>

                  </ul>
                  <p>{{'shared_about.privacy.Ferner' | translate}}
                  </p>

                  <p>{{'shared_about.privacy.betroffeneeine' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Berichtigung' | translate}}</h4>
                  <p>{{'shared_about.privacy.Jadepersonenbezogener' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.mochteeine' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.Loschung' | translate}}</h4>
                  <p>{{'shared_about.privacy.betroffeneJade' | translate}}
                  </p>

                  <ul style="list-style: none;">
                    <li>
                      {{'shared_about.privacy.Diepersonenbezogenen' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.betroffenePerson' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.legt' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.DieDaten' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.personenbezogenenDaten' | translate}}
                    </li>
                    <li>{{'shared_about.privacy.Datenwurden' | translate}}
                    </li>

                  </ul>
                  <p>
                    {{'shared_about.privacy.Sofern' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.WurdenDie' | translate}}
                  </p>
                </li>
                <li>
                  <h4>{{'shared_about.privacy.RechtAuf' | translate}}</h4>
                  <p>
                    {{'shared_about.privacy.JedeVon' | translate}}
                  </p>

                  <ul style="list-style: none;">
                    <li>
                      {{'shared_about.privacy.DieRichtigkeit' | translate}}
                    </li>
                    <li>
                      {{'shared_about.privacy.DieVerarbeitung' | translate}}
                    </li>
                    <li>
                      {{'shared_about.privacy.DerVerantwortliche' | translate}}
                    </li>
                    <li>
                      {{'shared_about.privacy.Diebetroffene' | translate}}
                    </li>

                  </ul>
                  <p>
                    {{'shared_about.privacy.Soferneine' | translate}}
                  </p>
                </li>
                <li>
                  <h4>
                    {{'shared_about.privacy.Rechtauf' | translate}}
                  </h4>
                  <p>
                    {{'shared_about.privacy.Jedevonder' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.FernerHat' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.Geltendmachung' | translate}}
                  </p>

                </li>
                <li>
                  <h4>
                    {{'shared_about.privacy.Widerspruch' | translate}}
                  </h4>
                  <p>
                    {{'shared_about.privacy.VerarbeitungJede' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.DieZinsunion' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.Verarbeitet' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.Zudem' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.ZurAus' | translate}}
                  </p>
                </li>
                <li>
                  <h4>
                    {{'shared_about.privacy.ProfilingAutomatisierte' | translate}}
                  </h4>
                  <p>
                    {{'shared_about.privacy.personenbezogenerDate' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.Entscheidung' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.diebetroffene' | translate}}
                  </p>

                </li>
                <li>
                  <h4>
                    {{'shared_about.privacy.Rechti' | translate}}
                  </h4>
                  <p>
                    {{'shared_about.privacy.Verarbeitungder' | translate}}
                  </p>

                  <p>
                    {{'shared_about.privacy.betroffenedie' | translate}}
                  </p>

                </li>
              </ul>
              <h4>
                {{'shared_about.privacy.Datenschutzbestimmungen' | translate}}
              </h4>
              <p>
                {{'shared_about.privacy.DerVerarbeitung' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Netzwerk' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Betreibergesellschaft' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Durchjeden' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.SofernDie' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Facebook' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.DieFacebook' | translate}}
              </p>

              <h4>
                {{'shared_about.privacy.Datenschutzbestimmungenzu' | translate}}
              </h4>
              <p>
                {{'shared_about.privacy.Verantwortliche' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Analytics' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.VerarbeitungDerF' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Zweck' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.setzt' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.MittelsDes' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.betroffenePersonDie' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.bestehtFerner' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Informationen' | translate}}
              </p>

              <h4>{{'shared_about.privacy.EinsatzDatenschutzbestimmungen' | translate}}</h4>
              <p>
                {{'shared_about.privacy.VerantwortlicheDer' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Ireland' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.ZweckGoogle' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Remarketing' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.MitteCookiess' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.betroffenePersonkann' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Fernerbetroffene' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Weitere' | translate}}
              </p>
              <h4>
                {{'shared_about.privacy.AdWords' | translate}}
              </h4>

              <p>
                {{'shared_about.privacy.VerantwortlicheDerF' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.BetreibergesellschaftIerland' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.DerZweck' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Gelangt' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.DieDurch' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.Conversion' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.InternetseiteD' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.interessenbezogenen' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.WeitereInformationen' | translate}}
              </p>

              <h4>
                {{'shared_about.privacy.Instagram' | translate}}
              </h4>
              <p>
                {{'shared_about.privacy.VerarbeitungVerantwortliche' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.BetreibergesellschaftDer' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.jeweilige' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.gleichzeitig' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.uber' | translate}}
              </p>

              <p>
                {{'shared_about.privacy.geltenden' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Rechtsgrundlage' | translate}}</h4>
              <p>
                {{'shared_about.privacy.dient' | translate}}
              </p>

              <h4>
                {{'shared_about.privacy.Interessen' | translate}}
              </h4>
              <p>
                {{'shared_about.privacy.Basiert' | translate}}
              </p>

              <h4>
                {{'shared_about.privacy.personenbezogenen' | translate}}
              </h4>
              <p>
                {{'shared_about.privacy.Dauer' | translate}}
              </p>

              <h4>
                {{'shared_about.privacy.Erforderlichkeit' | translate}}
              </h4>
              <p>
                {{'shared_about.privacy.dariber' | translate}}
              </p>

              <h4>{{'shared_about.privacy.Entscheidungsfindung' | translate}}</h4>
              <p>{{'shared_about.privacy.verantwortungsbewusstes' | translate}}

              <p>{{'shared_about.privacy.Datenschutzerka' | translate}} <a
                  href="https://dg-datenschutz.de/">{{'shared_about.privacy.Gesellschaft' | translate}}</a> {{'shared_about.privacy.unddem' | translate}} <a
                  href="https://www.wbs-law.de/" rel="nofollow">{{'shared_about.privacy.IT' | translate}}</a>
                {{'shared_about.privacy.Christian' | translate}}
                <a href="https://willing-able.com/">{{'shared_about.privacy.LegalTech' | translate}}</a>
                {{'shared_about.privacy.Spezialisten' | translate}}
                <a href="https://abletorecords.com/">{{'shared_about.privacy.AbletoRecords' | translate}}</a>
                {{'shared_about.privacy.entwickelt' | translate}}
              </p>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
