<div class="some_orange_bunner">
  Data protection
</div>

<div class="conditions_ip">
  <div class="conditions_container_ip">
    <div class="header_cc">
      Current security notice - phishing emails circulating
    </div>
    <div class="text_cc">
      There are currently e-mails with fake sender addresses in circulation that are addressed to customers of German banks. These e-mails are used to attempt to obtain confidential customer data (account number, PIN, mTAN).
      <br><br>
      Please note: The bank comparison will never ask you for confidential data such as your account number, PIN or mTAN by e-mail or by telephone or SMS, ie ask you to return or provide this data or to enter your access data directly.
      <br><br>
      If you suspect that your access data has become known to unauthorized persons, please change your PIN immediately in online banking under "Administration" - "My data"!
      <br><br>
      Contact: <a href="mailto:service@mail-zinsunion.com">service@mail-zinsunion.com</a>
      <br>
      additional Information
      <br>
      <a href="https://www.bsi-fuer-buerger.de">https://www.bsi-fuer-buerger.de</a>
    </div>
  </div>
</div>

<div class="conditions_ip __back_gray">
  <div class="conditions_container_ip">
    <div class="header_cc">
      Our contribution to your safety
    </div>
    <div class="text_cc">
      The security of your data is a top priority when it comes to online banking. That is why we always rely on the latest security standards: A firewall prevents unauthorized external access to the data in our systems. In addition, a multi-level encryption and identification system ensures that unauthorized persons can neither inquire about your data, intercept it or make it readable.
      <br><br>
      <b>
        Firewall protection
      </b>
      <br><br>
      This prevents unauthorized access in order to shield the information in our systems.
      <br><br>
      <b>
        Online banking with SSL encryption / security certificate
      </b>
      <br><br>
      In online banking, your personal data is encrypted when it is transmitted over the Internet using SSL (Secure Sockets Layer). You can recognize this encryption by the fact that the well-known “http” is appended with an “s” (https) in the Internet address. The certificate is a Symantec / Norton (formerly Verisign) Secure Site Pro certificate with extended validation and ongoing malware and vulnerability scans.
      <br><br>
      <b>
      Encryption
      </b>
      <br><br>
      If we transmit data to partner banks on your behalf (e.g. when opening an account), this data is always encrypted with 2048 bit PGP.
      <br><br>
      <b>
        PIN
      </b>
      <br><br>
      The PIN (personal identification number) is practically your key to the personal online banking area of ​​the bank. Entering the account number or email address at the Rasin Bank and the six to sixteen-digit PIN is sufficient for access. The PIN does not yet permit banking transactions such as transfers or time deposits. With the PIN you can only see the account balance or view sales.
      <br><br>
      <b>
        mTAN (Mobile Transaction Number)
      </b>
      <br><br>
      With the mTAN you confirm all online banking transactions such as transfers or time deposits.
      <br><br>
      <b>
        Automatic logout in the event of inactivity
      </b>
      <br><br>
      After 15 minutes of inactivity, we will automatically log you out of online banking. We show you the remaining time on every page. If you still want to continue with online banking, simply log in again.
      <br><br>
      <b>
        Transfer only to the reference account
      </b>
      <br><br>
      You enter a reference account when you open an account. Refunds can only be made to the account specified by you. The reference account can only be changed in writing and with your signature.
      <br><br>
      <b>
        Secured personal mailbox
      </b>
      <br><br>
      You will find your postbox in your personal and secure online banking area. Your personal post box holds all electronic information that you receive from the interest rate union or the bank comparison. The bank comparison will not send you any security-relevant information to your private e-mail address, but only to your personal mailbox, as this is fully secured. This ensures that only you have access. It is also ensured that communication to and from the Postbox is encrypted and thus protected against access by third parties. However, you will receive an email at your home address when there are new messages for you.
    </div>
  </div>
</div>

<div class="conditions_ip" [ngStyle]="{'margin-bottom':'100px'}">
  <div class="conditions_container_ip">
    <div class="header_cc">
      Your contribution to safety
    </div>
    <div class="text_cc">
      <b>
        Please note the following basic rules for secure online banking at ZinsUnion
      </b>
      <li>
        ZinsUnion will not send you any e-mails asking for your access data!
      </li>
      <li>
        In principle, ZinsUnion does not ask for access data, PIN or mTAN to be returned by email!
      </li>
      <li>
        Always enter the URL to the ZinsUnion online banking ( Zinsunion ) directly via the keyboard and make sure that you only have a browser window or 'tab' open!
      </li>
      <li>
        Be extremely careful on websites whose address begins with an IP number instead of a domain name (e.g. http: //1232.456.789 / ...) or whose address ZinsUnion only as a sub-domain name (e.g. https: / /www.zinsunion.domainname.com / ...) or name supplements or spelling variants (e.g. https: //www.zinsunion-site.net / ...)!
      </li>
      <br>
      <b>
        Important for online banking
      </b>
      <br><br>
      <li>
        If possible, do not log into online banking from a computer you are not familiar with (e.g. Internet cafe).
      </li>
      <li>
        Change your PIN regularly and use combinations of upper and lower case letters and numbers. Do not use any combinations that have a private reference such as name, date of birth, telephone number, postal code or similar.
      </li>
      <li>
        Do not conduct online transactions if you suspect that your PC has been infected by a Trojan horse or virus.
      </li>
      <li>
        Always use the 'Unsubscribe' button to exit online banking.
      </li>
      <li>
        After exiting online banking, always delete the cache, unless you are the only one working on your computer.
      </li>
      <li>
        With Microsoft Internet Explorer: Tools -> Internet options -> General -> Temporary Internet files -> Delete files
      </li>
      <li>
        In Firefox: Extras -> Settings -> Data protection -> Private data -> Delete now
      </li>
      <li>
        For Chrome: Click the Chrome menu -> Tools -> Clear browsing data
      </li>
      <li>
        In Microsoft Internet Explorer, switch off the option of temporarily storing encrypted pages on the hard disk. Enable the Do not save encrypted pages on hard drive option under Internet Options -> Advanced -> Security
      </li>
      <br>
      <b>
        Important for your PC
      </b>
      <br><br>
      <li>
        Always apply the latest security updates recommended by the manufacturer.
      </li>
      <li>
        Use an anti-virus program and update it regularly - if possible daily.
      </li>
      <li>
        Use a personal firewall that offers your PC additional protection. Make sure that your storage media are virus-free.
      </li>
      <li>
        When filling out online forms, never use the 'Form Manager' or the 'Auto-complete' function of your browser, as otherwise the data entered can be saved on your PC and read by third parties.
      </li>
    </div>
  </div>
</div>



<!--<section>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12 col-md-9 no-padding">-->
<!--              <h4>{{'shared_about.privacy.Datenschutzerk' | translate}}</h4>-->

<!--              <p>{{'shared_about.privacy.Anspruch' | translate}}</p>-->

<!--              <p>{{'shared_about.privacy.personenbezogener' | translate}}</p>-->

<!--              <p>{{'shared_about.privacy.Limited' | translate}}</p>-->

<!--              <h4>{{'shared_about.privacy.Begriffsbestimmungen' | translate}}</h4>-->
<!--              <p>{{'shared_about.privacy.Datenschutze' | translate}}</p>-->

<!--              <p>{{'shared_about.privacy.verwenden' | translate}}</p>-->

<!--              <ul style="list-style: none">-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.personenbezogene' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.Daten' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.betroffene' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.Person' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Verarbeitung' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.jeder' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Einschr' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.Einschrnkung' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Profiling' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.ProfilingIst' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Pseudonymisierung' | translate}}-->
<!--                  </h4>-->
<!--                  <p>{{'shared_about.privacy.PseudonymisierungFull' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Verantwortlicher' | translate}}-->
<!--                  </h4>-->
<!--                  <p>{{'shared_about.privacy.VerantwortlicherFull' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Auftragsverarbeiter' | translate}}-->
<!--                  </h4>-->
<!--                  <p>{{'shared_about.privacy.AuftragsverarbeiterFull' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Empf' | translate}}-->
<!--                  </h4>-->
<!--                  <p>{{'shared_about.privacy.EmpfFull' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Dritter' | translate}}-->
<!--                  </h4>-->
<!--                  <p>{{'shared_about.privacy.DritterFull' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Einwilligung' | translate}}-->
<!--                  </h4>-->
<!--                  <p>{{'shared_about.privacy.EinwilligungFull' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--              </ul>-->

<!--              <h4>{{'shared_about.privacy.Name' | translate}}-->
<!--              </h4>-->
<!--              <p>{{'shared_about.privacy.VerantwortlicherDesc' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.address1' | translate}}</p>-->
<!--              <p>{{'shared_about.privacy.address2' | translate}}</p>-->
<!--              <p>{{'shared_about.privacy.address3' | translate}}</p>-->
<!--              <p>{{'shared_about.privacy.address4' | translate}}</p>-->
<!--              <p>{{'shared_about.privacy.address5' | translate}} {{env.contact.customer.template}} </p>-->
<!--              <p>{{'shared_about.privacy.address6' | translate}}{{env.emails.support.template}}</p>-->
<!--              <p>{{'shared_about.privacy.address7' | translate}}</p>-->

<!--              <h4>{{'shared_about.privacy.Cookies' | translate}}</h4>-->
<!--              <p>{{'shared_about.privacy.CookiesFull' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Internetseiten' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Durch' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Mittels' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Personbetroffene' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Erfassung' | translate}}-->
<!--              </h4>-->
<!--              <p>{{'shared_about.privacy.Internetseite' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Nutzung' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Registrierung' | translate}}-->
<!--              </h4>-->
<!--              <p>{{'shared_about.privacy.sich' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.RegistrierungDurch' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.derbetroffenen' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.VerarbeDertung' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Newsletters' | translate}}-->
<!--              </h4>-->
<!--              <p>{{'shared_about.privacy.InternetseiteAuf' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.DieLimited' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Anmeldung' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Rahmen' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Newsletter' | translate}}-->
<!--              </h4>-->
<!--              <p>{{'shared_about.privacy.DieNewsletter' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Solche' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Kontaktm' | translate}}</h4>-->
<!--              <p>{{'shared_about.privacy.InternetseiteDie' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Routinem' | translate}}</h4>-->
<!--              <p>{{'shared_about.privacy.VerarbeitungDer' | translate}}-->
<!--              </p>-->

<!--              <p>{{'shared_about.privacy.Entf' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.betroffenen' | translate}}</h4>-->
<!--              <ul style="list-style: none;">-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Recht' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.Jede' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Auskunft' | translate}}</h4>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.Jedevon' | translate}}-->
<!--                  </p>-->

<!--                  <ul style="list-style: none;">-->
<!--                    <li>{{'shared_about.privacy.Verarbeitungszwecke' | translate}}</li>-->
<!--                    <li>{{'shared_about.privacy.Kategorien' | translate}}</li>-->
<!--                    <li>{{'shared_about.privacy.Empfdie' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.falls' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.Bestehen' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.Bestehendas' | translate}}</li>-->
<!--                    <li>{{'shared_about.privacy.wenn' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.einer' | translate}}-->
<!--                    </li>-->

<!--                  </ul>-->
<!--                  <p>{{'shared_about.privacy.Ferner' | translate}}-->
<!--                  </p>-->

<!--                  <p>{{'shared_about.privacy.betroffeneeine' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Berichtigung' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.Jadepersonenbezogener' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.mochteeine' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.Loschung' | translate}}</h4>-->
<!--                  <p>{{'shared_about.privacy.betroffeneJade' | translate}}-->
<!--                  </p>-->

<!--                  <ul style="list-style: none;">-->
<!--                    <li>-->
<!--                      {{'shared_about.privacy.Diepersonenbezogenen' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.betroffenePerson' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.legt' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.DieDaten' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.personenbezogenenDaten' | translate}}-->
<!--                    </li>-->
<!--                    <li>{{'shared_about.privacy.Datenwurden' | translate}}-->
<!--                    </li>-->

<!--                  </ul>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.Sofern' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.WurdenDie' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>{{'shared_about.privacy.RechtAuf' | translate}}</h4>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.JedeVon' | translate}}-->
<!--                  </p>-->

<!--                  <ul style="list-style: none;">-->
<!--                    <li>-->
<!--                      {{'shared_about.privacy.DieRichtigkeit' | translate}}-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      {{'shared_about.privacy.DieVerarbeitung' | translate}}-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      {{'shared_about.privacy.DerVerantwortliche' | translate}}-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      {{'shared_about.privacy.Diebetroffene' | translate}}-->
<!--                    </li>-->

<!--                  </ul>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.Soferneine' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>-->
<!--                    {{'shared_about.privacy.Rechtauf' | translate}}-->
<!--                  </h4>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.Jedevonder' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.FernerHat' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.Geltendmachung' | translate}}-->
<!--                  </p>-->

<!--                </li>-->
<!--                <li>-->
<!--                  <h4>-->
<!--                    {{'shared_about.privacy.Widerspruch' | translate}}-->
<!--                  </h4>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.VerarbeitungJede' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.DieZinsunion' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.Verarbeitet' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.Zudem' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.ZurAus' | translate}}-->
<!--                  </p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <h4>-->
<!--                    {{'shared_about.privacy.ProfilingAutomatisierte' | translate}}-->
<!--                  </h4>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.personenbezogenerDate' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.Entscheidung' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.diebetroffene' | translate}}-->
<!--                  </p>-->

<!--                </li>-->
<!--                <li>-->
<!--                  <h4>-->
<!--                    {{'shared_about.privacy.Rechti' | translate}}-->
<!--                  </h4>-->
<!--                  <p>-->
<!--                    {{'shared_about.privacy.Verarbeitungder' | translate}}-->
<!--                  </p>-->

<!--                  <p>-->
<!--                    {{'shared_about.privacy.betroffenedie' | translate}}-->
<!--                  </p>-->

<!--                </li>-->
<!--              </ul>-->
<!--              <h4>-->
<!--                {{'shared_about.privacy.Datenschutzbestimmungen' | translate}}-->
<!--              </h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.DerVerarbeitung' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Netzwerk' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Betreibergesellschaft' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Durchjeden' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.SofernDie' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Facebook' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.DieFacebook' | translate}}-->
<!--              </p>-->

<!--              <h4>-->
<!--                {{'shared_about.privacy.Datenschutzbestimmungenzu' | translate}}-->
<!--              </h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.Verantwortliche' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Analytics' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.VerarbeitungDerF' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Zweck' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.setzt' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.MittelsDes' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.betroffenePersonDie' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.bestehtFerner' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Informationen' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.EinsatzDatenschutzbestimmungen' | translate}}</h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.VerantwortlicheDer' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Ireland' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.ZweckGoogle' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Remarketing' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.MitteCookiess' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.betroffenePersonkann' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Fernerbetroffene' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Weitere' | translate}}-->
<!--              </p>-->
<!--              <h4>-->
<!--                {{'shared_about.privacy.AdWords' | translate}}-->
<!--              </h4>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.VerantwortlicheDerF' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.BetreibergesellschaftIerland' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.DerZweck' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Gelangt' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.DieDurch' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.Conversion' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.InternetseiteD' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.interessenbezogenen' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.WeitereInformationen' | translate}}-->
<!--              </p>-->

<!--              <h4>-->
<!--                {{'shared_about.privacy.Instagram' | translate}}-->
<!--              </h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.VerarbeitungVerantwortliche' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.BetreibergesellschaftDer' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.jeweilige' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.gleichzeitig' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.uber' | translate}}-->
<!--              </p>-->

<!--              <p>-->
<!--                {{'shared_about.privacy.geltenden' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Rechtsgrundlage' | translate}}</h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.dient' | translate}}-->
<!--              </p>-->

<!--              <h4>-->
<!--                {{'shared_about.privacy.Interessen' | translate}}-->
<!--              </h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.Basiert' | translate}}-->
<!--              </p>-->

<!--              <h4>-->
<!--                {{'shared_about.privacy.personenbezogenen' | translate}}-->
<!--              </h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.Dauer' | translate}}-->
<!--              </p>-->

<!--              <h4>-->
<!--                {{'shared_about.privacy.Erforderlichkeit' | translate}}-->
<!--              </h4>-->
<!--              <p>-->
<!--                {{'shared_about.privacy.dariber' | translate}}-->
<!--              </p>-->

<!--              <h4>{{'shared_about.privacy.Entscheidungsfindung' | translate}}</h4>-->
<!--              <p>{{'shared_about.privacy.verantwortungsbewusstes' | translate}}-->

<!--              <p>{{'shared_about.privacy.Datenschutzerka' | translate}} <a-->
<!--                  href="https://dg-datenschutz.de/">{{'shared_about.privacy.Gesellschaft' | translate}}</a> {{'shared_about.privacy.unddem' | translate}} <a-->
<!--                  href="https://www.wbs-law.de/" rel="nofollow">{{'shared_about.privacy.IT' | translate}}</a>-->
<!--                {{'shared_about.privacy.Christian' | translate}}-->
<!--                <a href="https://willing-able.com/">{{'shared_about.privacy.LegalTech' | translate}}</a>-->
<!--                {{'shared_about.privacy.Spezialisten' | translate}}-->
<!--                <a href="https://abletorecords.com/">{{'shared_about.privacy.AbletoRecords' | translate}}</a>-->
<!--                {{'shared_about.privacy.entwickelt' | translate}}-->
<!--              </p>-->


<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
