.main_frame {
  height: 670px;
  width: 100%;
  background-image: url("../../../../assets/img/bg/Rectangle 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;



    //top: 295px;
    //width: 100%;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //flex-direction: column;

    .header_frame {
      max-width: 1100px;
      text-align: center;
      font-weight: 700;
      font-size: 70px;
      line-height: 76px;
      color: #FFFFFF;

      @media screen and (max-width: 1000px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media screen and (max-width: 800px) {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 40px;
        line-height: 46px;
      }
    }

    .description_frame {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      max-width: 920px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;

      @media screen and (max-width: 1000px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .main_frame_button {
      font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
      width: 145px;
      height: 52px;
      margin-left: auto;
      margin-right: auto;
      background-color: #F08A5D;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;

      &:hover {
        cursor: pointer;
        background-color: #ee662a;
      }
    }

  .main_frame_caller {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    width: 120px;
    left: calc(50% - 60px);

    .mainframe_arrow {
      width: 19px;
      height: 8px;
      background-image: url("../../../../assets/img/arrow_down.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 20px;
    }

    &:hover {
      cursor: pointer;
      color: #ee662a;

      .mainframe_arrow {
        background-image: url("../../../../assets/img/arrow_down_hover.png");
        background-size: cover;
      }
    }
  }

  .mainframe_arrow {
    width: 19px;
    height: 7px;
    background-image: url("../../../../assets/img/arrow_down.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
  }
}

.deposits_info_frame {
  width: 100%;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  //height: 815px;
  //position: relative;

  .header_frame {
    max-width: 780px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 40px;
    line-height: 55px;
    color: #262222;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    //position: absolute;
    //top: 100px;
    //left: calc(50% - 390px);
    text-align: center;

  }

  .cards_container {
    max-width: 1220px;
    //position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 255px;
    left: calc(50% - 610px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;

    .arrow_left {
      width: 13px;
      height: 29px;
      background-image: url("../../../../assets/img/arrow_left.png");
      background-size: cover;

      &:hover {
        cursor: pointer;
      }
    }

    .arrow_right {
      width: 13px;
      height: 29px;
      background-image: url("../../../../assets/img/arrow_left.png");
      background-size: cover;
      transform: rotate(180deg);

      &:hover {
        cursor: pointer;
      }
    }

    .card_info_frame {
      margin-bottom: 30px;
      position: relative;
      width: 255px;
      height: 329px;
      border-radius: 15px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);

      .button_deal {
        position: absolute;
        top: 170px;
        left: calc(50% - 45px);
        font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 90px;
        height: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #F08A5D;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #F08A5D;
        user-select: none;

        &:hover {
          cursor: pointer;
          background: #ee662a;
          border: 1px solid #ee662a;
          color: #ffffff;
        }
      }

      .card_logo {
        position: absolute;
        top: 30px;
        left: calc(50% - 87px);
        width: 175px;
        height: 60px;
        background-image: url("../../../../assets/img/blue_orange.png");
        background-size: cover;
      }

      .card_info_text {
        position: absolute;
        top: 100px;
        width: 100%;
        height: 150px;
        display: flex;
        padding: 0px 15px 0px 15px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;

        .stripe_info_text {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left_head {
            font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #262222;
          }

          .right_head {
            font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #262222;
          }
        }
      }
    }
  }

  .offer_button {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    //position: absolute;
    left: calc(50% - 100px);
    //top: 630px;
    //width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 52px;
    background: #F08A5D;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background: #ee662a;
    }
  }

  .offer_button_description {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    //position: absolute;
    //top: 695px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 14px;
    color: #262222;
    opacity: 0.4;
  }
}

.three_steps_frame {
  width: 100%;
  height: auto;
  background: #F7F7F7;
  //position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .three_steps_header {
    //position: absolute;
    width: 100%;
    text-align: center;
    top: 90px;
    line-height: 55px;
    margin-bottom: 90px;

    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #262222;
  }

  .three_steps_cards_container {
    //top: 180px;
    //position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    left: calc(50% - 610px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;

    .card_single {
      width: 300px;
      height: 325px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .step_icon_1 {
        width: 149px;
        height: 160px;
        background-image: url("../../../../assets/img/icon_1s.png");
        background-size: cover;
      }

      .step_icon_2 {
        width: 149px;
        height: 160px;
        background-image: url("../../../../assets/img/icon_2s.png");
        background-size: cover;
      }

      .step_icon_3 {
        width: 149px;
        height: 160px;
        background-image: url("../../../../assets/img/icon_3s.png");
        background-size: cover;
      }

      .card_header {
        font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #262222;
        margin-top: 30px;
      }

      .card_content {
        font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #262222;
        margin-top: 30px;
        opacity: 0.8;
      }
    }
  }
}

.partners_info_frame {
  width: 100%;
  //height: 315px;
  //position: relative;
  margin-bottom: 50px;

  .partners_info_header {
    //position: absolute;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    top: 90px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #262222;
  }

  .partners_info_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    //position: absolute;
    //top: 195px;
    //left: calc(50% - 610px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .arrow_left {
      width: 13px;
      height: 29px;
      background-image: url("../../../../assets/img/arrow_left.png");
      background-size: cover;

      &:hover {
        cursor: pointer;
      }
    }

    .arrow_right {
      width: 13px;
      height: 29px;
      background-image: url("../../../../assets/img/arrow_left.png");
      background-size: cover;
      transform: rotate(180deg);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.deposits_board_frame {
  width: 100%;
  //height: 555px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .deposits_board_content_container {
    max-width: 1220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    @media screen and (max-width: 1160px){
      flex-direction: column;

     img {
        width: 450px;
      }
    }

    @media screen and (max-width: 468px){
      flex-direction: column;

      img {
        width: 350px;
      }
    }
  }

  .deposits_board_text_container {
    max-width: 550px;
    width: auto;

    .deposit_board_header {
      font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 40px;
      color: #262222;
    }
  }

  .deposit_board_text {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #262222;
    margin-top: 30px;
    opacity: 0.8;

    @media screen and (max-width: 1160px){
      flex-direction: column;
      margin-bottom: 50px;
    }
  }
}

.helpful_articles_frame {
  width: 100%;
  //height: 745px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #F7F7F7;
  padding-top: 90px;
  padding-bottom: 50px;

  .helpful_articles_header {
    //position: absolute;
    width: 100%;
    text-align: center;
    top: 90px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #262222;
    line-height: 50px;
  }

  .helpful_articles_cards_container {
   max-width: 1220px;
    //top: 180px;
    //left: calc(100% - 610px);
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    gap: 30px;

    .helpful_articles_card {
      margin-top: 30px;
      width: 350px;
      height: 462px;
      border-radius: 20px;
      background: #FFFFFF;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.04);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-left: 5px;
      margin-right: 5px;

      .helpful_articles_card_image {
        border-radius: 20px;
        margin-top: 10px;
      }

      .helpful_articles_card_header {
        font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        width: 300px;
        margin-top: 20px;
      }

      .helpful_articles_card_content {
        font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 300px;
        font-size: 14px;
        line-height: 19px;
        margin-top: 20px;
        opacity: 0.8;
      }

      a {
        position: absolute;
        right: 20px;
        bottom: 30px;
        color: #F08A5D;
        user-select: none;

        &:hover {
          cursor: pointer;
          color: #EE662A;
        }
      }
    }
  }
}

.why_articles_frame {
  width: 100%;
  //height: 695px;
  position: relative;
  padding-top: 90px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .why_articles_header {
    //position: absolute;
    width: 100%;
    text-align: center;
    top: 90px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #262222;
  }

  .three_steps_cards_container {
    margin-top: 50px;
    margin-bottom: 30px;
    top: 180px;
    //position: absolute;
    max-width: 1220px;
    left: calc(50% - 610px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .card_single {
      margin-top: 30px;
      width: 300px;
      height: 325px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .step_icon_1 {
        width: 141px;
        height: 141px;
        background-image: url("../../../../assets/img/why_icon_1.png");
        background-size: cover;
      }

      .step_icon_2 {
        width: 141px;
        height: 141px;
        background-image: url("../../../../assets/img/why_icon_2.png");
        background-size: cover;
      }

      .step_icon_3 {
        width: 141px;
        height: 141px;
        background-image: url("../../../../assets/img/why_icon_3.png");
        background-size: cover;
      }

      .card_header {
        font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #262222;
        margin-top: 30px;
      }

      .card_content {
        font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #262222;
        margin-top: 30px;
        opacity: 0.8;
      }
    }
  }

  .offer_button {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    //position: absolute;
    left: calc(50% - 100px);
    top: 545px;
    width: 200px;
    height: 52px;
    background: #F08A5D;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background: #ee662a;
    }
  }
}

.any_questions_frame {
  width: 100%;
  //height: 415px;
  position: relative;
  background: #F7F7F7;
  padding-top: 100px;
  padding-bottom: 100px;

  .stripes_top {
    position: absolute;
    width: 75px;
    height: 48px;
    left: calc(50% - 37px);
    top: 0px;
  }

  .stripes_bottom {
    position: absolute;
    width: 75px;
    height: 48px;
    left: calc(50% - 37px);
    bottom: 0px;
  }

  .any_questions_header {
    //position: absolute;
    width: 100%;
    text-align: center;
    top: 130px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #262222;
    line-height: 50px;
  }

  .any_questions_text {
    margin-top: 30px;
    margin-bottom: 30px;
    //position: absolute;
    width: 100%;
    text-align: center;
    top: 190px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  .any_questions_button {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    //position: absolute;
    left: calc(50% - 145px);
    margin-left: auto;
    margin-right: auto;
    top: 245px;
    width: 290px;
    height: 52px;
    background: #F08A5D;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background: #ee662a;
    }
  }
}

.google_rev_frame {
  width: 100%;
  //height: 480px;
  position: relative;
  padding-top: 90px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;

  .google_rev_header {
    //position: absolute;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: calc(50% - 610px);
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #262222;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .google_arrow_container {
      display: flex;
      flex-direction: row;
      width: 65px;
      justify-content: space-between;

      .google_arrow_left {
        width: 11px;
        height: 20px;
        background-image: url("../../../../assets/img/arrow_left.png");
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
          cursor: pointer;
        }
      }

      .google_arrow_right {
        width: 11px;
        height: 20px;
        background-image: url("../../../../assets/img/arrow_left.png");
        background-size: contain;
        transform: rotate(180deg);
        background-repeat: no-repeat;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .google_content_container {
    //position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-width: 1220px;
    top: 200px;
    left: calc(50% - 610px);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;


    .google_container {
      margin-top: 30px;
      width: 350px;
      height: 120px;
      display: flex;
      flex-direction: row;
      margin-left: 5px;
      margin-right: 5px;

      img {
        width: 65px;
        height: 65px;
      }

      .google_description_container {
        margin-left: 15px;

        .gdc_header {
          font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          color: #262222;
        }

        .gdc_views {
          font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          line-height: 16px;
          color: #000000;
          opacity: 0.6;
          margin-top: 5px;
        }

        .gdc_callback {
          font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          line-height: 16px;
          color: #000000;
          opacity: 0.6;
          margin-top: 5px;
          display: flex;
          align-items: center;

          img {
            width: 80px;
            height: 16px;
            margin-right: 10px;
          }
        }

        .gdc_text {
          margin-top: 10px;
          font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          line-height: 16px;
          color: #262222;
          opacity: 0.8;
        }
      }
    }
  }
}

//FUCK IT ALL

.base-top {
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  box-sizing: border-box !important;
  width: 100% !important;
}

.card {
  max-height: 150px !important;
  min-height: 150px !important;

  .card-body {
    padding: auto 0 !important;
  }
}

.badge {
  cursor: pointer;

  span {
    width: 100%;
    background: #1bad2b;
  }
}

.text-header {
  font-weight: 800;
  line-height: 1.5;
  max-width: 83.33333333% !important;
  margin: 0 auto 40px;
}

.cards-container {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Nunito', 'Nunito', 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  justify-content: center;
}

.card-badge {
  position: absolute;
  top: -15px;
  left: 10px;
  color: #ffffff;
  padding: 2px 10px;
}

@media screen and (min-width: 800px) {
  .base-top {
    background: url(../../../../assets/img/de-at-cards-widget-campaign.jpg);
  }
}

@media screen and (max-width: 799px) {
  .base-top {
    background: url(../../../../assets/img/bg/gradient-background-v2.svg);
  }
}

@media screen and (max-width: 766px) {
  .card {
    min-height: 70px !important;
    max-height: 100px !important;

    .card-footer {
    }
  }
}
