.title-style {
  font-size: 15px;
  line-height: 1.5;
  color: #404040;
  box-sizing: border-box;
  padding: 2px;
}

.mat-checkbox .mat-checkbox-frame {
  transform: scale(1.5);
  margin-top: 0;
}

.mat-checkbox-inner-container {
  margin-top: 8px !important;
}

.mat-checkbox-checked .mat-checkbox-background {
  margin-top: 0;
  transform: scale(1.5);
}

.mat-form-field-label {
  overflow: visible !important;
}
