@import "../../../../assets/scss/zinsunion/variables.scss";
.rotate {
    max-height: 100px !important;
    max-width: 100px !important;
    animation: mymove 1s infinite;
    border-radius: 50%;
}
@keyframes mymove {
    100% {
        transform: rotate(360deg);
    }
}

.ver_head {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #262222;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.ver_desc {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #262222;
    margin-top: 30px;
    text-align: center;
}

.ver_container {
    font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 100%;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-top: 30px;

    .cont_headbox {
        position: relative;
        height: 80px;
        width: 100%;
        //background: #1BAD2B;

        img {
            position: absolute;
            left: 15px;
            top: 15px;
        }

        .cont_header {
            position: absolute;
            left: 70px;
            top: 15px;
            font-size: 14px;
            line-height: 19px;
            color: #262222;
            opacity: 0.6;
        }

        .cont_header_desc {
            position: absolute;
            left: 70px;
            top: 40px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #262222;
        }

        .cont_btn {
            position: absolute;
            top: 25px;
            right: 20px;
            width: 90px;
            height: 31px;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            background: #F08A5D;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
                background: #EE662A;
            }
        }

        .cont_btn_empt {
            position: absolute;
            top: 25px;
            right: 20px;
            width: 111px;
            height: 31px;
            font-size: 14px;
            line-height: 19px;
            color: #F08A5D;
            background: #ffffff;
            border: 1px solid #F08A5D;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                cursor: pointer;
                background: #EE662A;
                color: #ffffff;
            }
        }
    }

    .just_text {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;

        b {
            font-weight: 600;
        }
    }
}

.containers_holder {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .left_one {
        width: calc(50% - 10px);
    }

    .right_one {
        width: calc(50% - 10px);
    }
}