<!--<div class="ver_head">-->
<!--  Status of your registration-->
<!--</div>-->

<!--<div class="ver_desc">-->
<!--  Further steps:-->
<!--</div>-->

<!--<div class="containers_holder">-->
<!--  <div class="left_one">-->

<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'20px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/identification.png">-->
<!--        <div class="cont_header">-->
<!--          Step 1-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Identification-->
<!--        </div>-->
<!--        <div class="cont_btn">-->
<!--          Identify-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        Please carry out our identification procedure to fully verify yourself.-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'20px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/select_investment.png">-->
<!--        <div class="cont_header">-->
<!--          Step 2-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Select investment-->
<!--        </div>-->
<!--        <div class="cont_btn_empt">-->
<!--          Choose offer-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        If necessary, select a suitable investment before the interest union account has been fully activated.-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->


<!--  <div class="right_one">-->
<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'10px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/application_processing.png">-->
<!--        <div class="cont_header">-->
<!--          Step 3-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Application processing-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        After the identification process, it usually takes 2–3 bank working days before you can use your account to the full. <b>You will receive an email from us with details of your interest union account</b> ( clearing account for your investments ).-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'20px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/application_processing.png">-->
<!--        <div class="cont_header">-->
<!--          Step 4-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Opened account-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        You can then transfer money to your Zinsunion account and make additional investments in online banking at any time .-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>div class="ver_head">-->
<!--  Status of your registration-->
<!--</div>-->

<!--<div class="ver_desc">-->
<!--  Further steps:-->
<!--</div>-->

<!--<div class="containers_holder">-->
<!--  <div class="left_one">-->

<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'20px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/identification.png">-->
<!--        <div class="cont_header">-->
<!--          Step 1-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Identification-->
<!--        </div>-->
<!--        <div class="cont_btn">-->
<!--          Identify-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        Please carry out our identification procedure to fully verify yourself.-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'20px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/select_investment.png">-->
<!--        <div class="cont_header">-->
<!--          Step 2-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Select investment-->
<!--        </div>-->
<!--        <div class="cont_btn_empt">-->
<!--          Choose offer-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        If necessary, select a suitable investment before the interest union account has been fully activated.-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->


<!--  <div class="right_one">-->
<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'10px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/application_processing.png">-->
<!--        <div class="cont_header">-->
<!--          Step 3-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Application processing-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        After the identification process, it usually takes 2–3 bank working days before you can use your account to the full. <b>You will receive an email from us with details of your interest union account</b> ( clearing account for your investments ).-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="ver_container" [ngStyle]="{'margin-bottom':'20px'}">-->
<!--      <div class="cont_headbox">-->
<!--        <img src="assets/img/application_processing.png">-->
<!--        <div class="cont_header">-->
<!--          Step 4-->
<!--        </div>-->
<!--        <div class="cont_header_desc">-->
<!--          Opened account-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="just_text">-->
<!--        You can then transfer money to your Zinsunion account and make additional investments in online banking at any time .-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->





<div class="bg-light">
  <div class="container">
    <div class="d-flex flex-column justify-content-center">
      <h3 class="fs-4 fw-bold text-center">{{'dashboard.verification.Identifizierung' | translate}}</h3>
      <div class="text-center m-1">
        <img alt="" src="assets/icon/svg/user_lock.svg" />
        <p class="text-center my-3">
          {{'dashboard.verification.Nach' | translate}}
          <br />
        </p>
        <p>
          {{'dashboard.verification.Upload' | translate}} <br />
          {{'dashboard.verification.Senden' | translate}}
          <a [href]="emails.href">{{ emails.template }}</a>
        </p>
      </div>
    </div>
  </div>
  <div >
    <div class="container">
      <div class="row p-1">
        <div class="col-lg-6">
          <mat-card>
            <mat-card-content>
              <div class="d-flex flex-column">
                <app-single-document
                  class="border-bottom"
                  [image]="'assets/icon/kyc-id.svg'"
                  [title]="'1- Ausweisdokument Vorderseite'"
                  [reason]="passportReason"
                  [doc]="docType.PASSPORT"
                  [status]="passportStatus">
                </app-single-document>
                <app-single-document
                  [image]="'assets/icon/kyc-id.svg'"
                  [title]="'2- Ausweisdokument Rückseite'"
                  [reason]="idCardReason"
                  [doc]="docType.ID"
                  [status]="idStatus">
                </app-single-document>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-6">
          <mat-card>
            <mat-card-content>
              <div class="d-flex flex-column">
                <app-single-document
                  [image]="selfieDocImage"
                  [title]="'3- Selfie mit Ausweis'"
                  [doc]="docType.SELFIE"
                  [reason]="selfieReason"
                  [status]="selfieStatus">
                </app-single-document>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
