@import "../../../../assets/scss/zinsunion/variables";

.numeral {
  font-size: 30px;
  color: $primary;
}

.p {
  color: $primary;
}

.icon-hover {
  color: $primary;

  &:hover {
    color: $orange;
  }
}
.investment_chart {
  height:400px;
  width: 1000px;
  margin-right: 10px;

  @media screen and (max-width: $breake-point-1) {
    width: 900px;
  }
  @media screen and (max-width: $breake-point-3) {
    width: 950px;
  }
  @media screen and (max-width: $breake-point-4) {
    width: 800px;
  }
  @media screen and (max-width: $breake-point-5) {
    width: 750px;
  }
  @media screen and (max-width: $breake-point-8) {
    width: 650px;
  }
  @media screen and (max-width: $breake-point-10) {
    width: 500px;
  }
  @media screen and (max-width: $breake-point-15) {
    width: 350px;
  }
  @media screen and (max-width: $breake-point-17) {
    width: 350px;
  }

}
