<mat-toolbar class="p-0 bg-white">
  <mat-toolbar-row class="p-0">
    <div class="container ps-5 pe-5">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid p-1">
          <a class="navbar-brand" routerLink="/">
            <img alt="" src="assets/logo.png" width="150px" />
          </a>
        </div>
      </nav>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="sent" class="sent">{{"reset.sent" | translate}}</div>
<div class="wrapper h-75">
  <div class="container">
    <h2 class="display-1 text-center pt-5 fw-normal fs-3">
      {{"reset.forgot" | translate}}
    </h2>
    <hr />

    <form (ngSubmit)="resetPassword()" [formGroup]="resetForm">
      <div class="row ms-5 me-5">
        <div class="col-lg-6 col-sm-8 text-center mx-auto mt-3">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{"reset.email" | translate}}</mat-label>
            <input
              matInput
              formControlName="email"
              type="email"
              required
            />
            <mat-error>
              <!-- TODO Add if for errors -->
              {{"reset.ben" | translate}}

            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col text-center">
          <button
            [disabled]="!resetForm.valid"
            class="btn btn-orange text-white"
            type="submit">
            <span
              *ngIf="loginProgress"
              aria-hidden="true"
              class="spinner-grow spinner-grow-sm"
              role="status"></span>
            {{"reset.send" | translate}}
          </button>
        </div>
      </div>
    </form>

    <hr />
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <b> {{"reset.noch" | translate}}</b>
          <br />
          <a class="btn text-primary" routerLink="/auth/register">
            {{"reset.als" | translate}}
            <fa-icon [icon]="faChevronRight" class="ms-2"></fa-icon>
          </a>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
