$medium-pale-bg: #f1eae0 !default;

$primary: #004b8c;
$green: #1bad2b;
$red: #e6411a;
$primary-dark: #003554;
$primary-light: #156cc4;
$orange: #ec5512;
$bg-blue: $primary;

$breake-point-1: 1400px;
$breake-point-2: 1300px;
$breake-point-3: 1200px;
$breake-point-4: 1100px;
$breake-point-5: 1050px;
$breake-point-6: 1024px;
$breake-point-7: 1024px;
$breake-point-8: 970px;
$breake-point-9: 850px;
$breake-point-10: 768px;
$breake-point-11: 690px;
$breake-point-12: 650px;
$breake-point-13: 600px;
$breake-point-14: 550px;
$breake-point-15: 460px;
$breake-point-16: 410px;
$breake-point-17: 380px;
$breake-point-19: 320px;
