<section>
  <div class="container">


    <div class="row">
      <div class="col-xs-12 col-md-9 p-0 ">
        <h1>
          <div>
            {{'shared_about.security.Ihre' | translate}}
          </div>
        </h1>
        <div>
          <div>
            <h2>
              {{'shared_about.security.Aktueller' | translate}}
            </h2>

            <div>
              <div>
                <p>
                  {{'shared_about.security.sind' | translate}}
                </p>

                <p>
                  {{'shared_about.security.Bitte' | translate}}
                </p>

                <p>
                  {{'shared_about.security.Wenn' | translate}}
                </p>
              </div>

              <ul class="list-unstyled">
                <li>
                  <strong>{{'shared_about.security.Kontakt' | translate}}

                  </strong>
                  <a [href]="env.emails.support.href+'?subject=Sicherheit'" target="_top">{{env.emails.support.template}}</a>
                </li>
                <li>
                  <strong>
                    {{'shared_about.security.Weitere' | translate}}
                  </strong>
                  <ul class="list-unstyled">
                    <li>
                      <a href="https://www.bsi-fuer-buerger.de" target="_blank">https://www.bsi-fuer-buerger.de</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <h2>
              {{'shared_about.security.Unser' | translate}}
            </h2>

            <p>
              {{'shared_about.security.Die' | translate}}
            </p>

            <p><strong>
              {{'shared_about.security.Firewall' | translate}}
            </strong></p>

            <p>
              {{'shared_about.security.Hierdurch' | translate}}
            </p>

            <p>
              <strong>
                {{'shared_about.security.Onlinebanking' | translate}}
              </strong>
            </p>

            <p>
              {{'shared_about.security.Daten' | translate}}
            </p>

            <p><strong>
              {{'shared_about.security.Verschl' | translate}}
            </strong></p>

            <p>
              {{'shared_about.security.wir' | translate}}
            </p>

            <p><strong>
              {{'shared_about.security.PIN' | translate}}
            </strong></p>

            <p>
              {{'shared_about.security.Identifikationsnummer' | translate}}
            </p>

            <p><strong>
              {{'shared_about.security.mTAN' | translate}}
            </strong></p>

            <p>
              {{'shared_about.security.Mit' | translate}}
            </p>

            <p>
              <strong>
                {{'shared_about.security.Automatische' | translate}}
              </strong>
            </p>

            <p>
              {{'shared_about.security.Nach' | translate}}
            </p>

            <p>
              <strong>
                {{'shared_about.security.Referenzkonto' | translate}}
              </strong>
            </p>

            <p>
              {{'shared_about.security.geben' | translate}}
            </p>

            <p>
              <strong>
                {{'shared_about.security.Postbox' | translate}}
              </strong>
            </p>

            <p>
              {{'shared_about.security.finden' | translate}}
            </p>

            <h2>
              {{'shared_about.security.Beitrag' | translate}}
            </h2>

            <p>
              <strong>
                {{'shared_about.security.beachten' | translate}}
              </strong>
            </p>

            <ul>
              <li>
                {{'shared_about.security.schickt' | translate}}
              </li>
              <li>
                {{'shared_about.security.bittet' | translate}}
              </li>
              <li>
                {{'shared_about.security.Geben' | translate}}
                <a routerLink="/" target="_blank">
                  {{'shared_about.security.Zinsunion' | translate}}
                </a>)
                {{'shared_about.security.immer' | translate}}
              </li>
              <li>
                {{'shared_about.security.Seien' | translate}}
              </li>
            </ul>

            <p>
              <strong>
                {{'shared_about.security.Wichtig' | translate}}
              </strong>
            </p>

            <ul>
              <li>
                {{'shared_about.security.Loggen' | translate}}
              </li>
              <li>
                {{'shared_about.security.Sie' | translate}}
              </li>
              <li>
                {{'shared_about.security.keine' | translate}}
              </li>
              <li>
                {{'shared_about.security.Nutzen' | translate}}
              </li>
              <li>
                {{'shared_about.security.nach' | translate}}
                <ul>
                  <li>
                    {{'shared_about.security.Beim' | translate}}
                  </li>
                  <li>
                    {{'shared_about.security.Bei' | translate}}
                  </li>
                  <li>
                    {{'shared_about.security.Chrome' | translate}}
                  </li>
                  <li>
                    {{'shared_about.security.Schalten' | translate}}
                  </li>
                </ul>
              </li>
            </ul>

            <p>
              <strong>
                {{'shared_about.security.IhrenPC' | translate}}
              </strong>
            </p>

            <ul>
              <li>
                {{'shared_about.security.Spielen' | translate}}
              </li>
              <li>
                {{'shared_about.security.Setzen' | translate}}
              </li>
              <li>
                {{'shared_about.security.SetzenFirewall' | translate}}
              </li>
              <li>
                {{'shared_about.security.Online' | translate}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
