<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9 no-padding">
              <h1>{{'shared_about.imprint.Impressum' | translate}}</h1>
              <div>
                <div>
                  <p><strong>{{'shared_about.imprint.burd' | translate}}</strong></p>
                  <p>
                    {{'shared_about.imprint.Zinsunion' | translate}}<br />
                    {{env.address.street}}
                    <br>
                    {{env.address.zip}} {{env.address.city}}

                  </p>

                  <p>
                    <a [href]="env.emails.support.href" target="_top">{{env.emails.support.template}}</a>
                    <br />
                  </p>

                  <p><strong>{{'shared_about.imprint.Kooperation' | translate}}</strong></p>
                  <p>
                    {{'shared_about.imprint.Limited' | translate}}<br />
                    {{'shared_about.imprint.address1' | translate}}<br />
                    {{'shared_about.imprint.address2' | translate}}<br />
                    {{'shared_about.imprint.address3' | translate}}<br />
                    {{'shared_about.imprint.address4' | translate}}
                  </p>

                  <p>
                    <b>{{'shared_about.imprint.Gesch' | translate}}:</b> {{'shared_about.imprint.Andreas' | translate}},<br />
                    <b>{{'shared_about.imprint.Handelsregister' | translate}}:</b> {{'shared_about.imprint.address5' | translate}}
                  </p>

                  <p><strong>{{'shared_about.imprint.Privatkunden' | translate}}</strong></p>

                  <p>{{'shared_about.imprint.Telefon' | translate}}: {{ env.contact.customer.template }}</p>

                  <p>
                    <a [href]="emails.service.href" target="_blank"
                      target="_top">{{env.emails.support.template}}</a><br />
                    <a href="http://www.zinsunion.com" target="_blank">{{'shared_about.imprint.XXXXX' | translate}}www.zinsunion.com</a>
                  </p>

                  <h2>{{'shared_about.imprint.Hinweise' | translate}}</h2>

                  <p>
                    {{'shared_about.imprint.recherchiert' | translate}}
                  </p>

                  <p><strong>{{'shared_about.imprint.Inhalte' | translate}}</strong></p>

                  <p>
                    {{'shared_about.imprint.unserer' | translate}}
                  </p>

                  <p><strong>{{'shared_about.imprint.Urheberrecht' | translate}}</strong></p>

                  <p>
                    {{'shared_about.imprint.durch' | translate}}
                  </p>

                  <p><strong>{{'shared_about.imprint.Lizenzhinweise' | translate}}</strong></p>

                  <p>
                    {{'shared_about.imprint.Einige' | translate}}
                    (<a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">https://creativecommons.org/licenses/by/2.0/</a>)

                  </p>

                  <p>
                    <strong>{{'shared_about.imprint.Europ' | translate}}</strong>
                  </p>

                  <p>
                    {{'shared_about.imprint.Kommission' | translate}}
                    <a href="https://ec.europa.eu/consumers/odr/" target="_blank">https://ec.europa.eu/consumers/odr/</a>
                    {{'shared_about.imprint.eine' | translate}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
