//MAIN

.daz_navigator_bch {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  position: relative;


  .navi_placer {
    width: 1220px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;

    .arrow_right {
      margin-top: 1px;
      width: 5px;
      height: 10px;
      background-image: url("../../../../assets/img/arrow_left.png");
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(180deg);
    }

    .prev_way {
      color: #262222;
      opacity: 0.7;
    }

    .current_local {
      color: #262222;
    }
  }

  .main_frame_caller {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;

    .mainframe_arrow {
      width: 19px;
      height: 7px;
      background-image: url("../../../../assets/img/arrow_down.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 20px;
    }

    &:hover {
      cursor: pointer;
      color: #ee662a;

      .mainframe_arrow {
        background-image: url("../../../../assets/img/arrow_down_hover.png");
        background-size: cover;
      }
    }
  }

  .mainframe_arrow {
    width: 19px;
    height: 7px;
    background-image: url("../../../../assets/img/arrow_down.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
  }
}

.daz_poster_bcab {
  background-image: url("../../../../assets/img/intro_au.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 618px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 76px;
    color: #FFFFFF;
  }

  h2 {
    margin-top: 40px;
    width: 920px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .main_frame_caller {
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    width: 120px;
    left: calc(50% - 60px);

    .mainframe_arrow {
      width: 19px;
      height: 8px;
      background-image: url("../../../../assets/img/arrow_down.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 20px;
    }

    &:hover {
      cursor: pointer;
      color: #ee662a;

      .mainframe_arrow {
        background-image: url("../../../../assets/img/arrow_down_hover.png");
        background-size: cover;
      }
    }
  }

  .mainframe_arrow {
    width: 19px;
    height: 7px;
    background-image: url("../../../../assets/img/arrow_down.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
  }
}

.daz_faces_bch {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .cards_container_tru {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 95px;
  }

  .header_yach {
    width: 730px;
    font-size: 40px;
    line-height: 55px;
    margin: 105px auto 55px auto;

    text-align: center;
    font-weight: 700;
  }

  .card_yach {
    width: 255px;
    height: 272px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .2);

    .go_go-circle {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin-top: 22px;
    }

    .go_go-name {
      margin-top: 20px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      font-weight: 700;

    }

    .go_go-text {
      //margin-top: 15px;
      font-size: 14px;
      line-height: 19px;
      color: #262222;
      opacity: 0.7;
      width: 200px;
      text-align: center;
    }
  }
}

.daz_partners_srtong {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 665px;
  background: #F7F7F7;
  display: flex;
  justify-content: center;

  .part_container {
    width: 1220px;

    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 40px;
      line-height: 55px;
      margin-top: 90px;
    }

    h2 {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #262222;
      opacity: 0.7;
      margin-top: 20px;
      width: 920px;
      margin-right: auto;
      margin-left: auto;
    }

    .card_container {
      margin-top: 50px;
      width: 1110px;
      margin-right: auto;
      margin-left: auto;
      height: 342px;
      display: flex;
      justify-content: space-between;

      .single_card {
        width: 540px;
        height: 100%;
        border-radius: 20px;
        background: #FFFFFF;

        .top_container {
          border-radius: 20px 20px 0 0;
          width: 100%;
          height: 50%;
          background: linear-gradient(180deg, #F7BF8B 0%, rgba(247, 191, 139, 0.9) 100%);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .bottom_container {
          border-radius: 0 0 20px 20px;
          width: 100%;
          height: 50%;
          background: #FFFFFF;
          display: flex;
          align-items: center;
          flex-direction: column;

          .header_bc {
            margin-top: 35px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #262222;
          }

          .text_bc {
            margin-top: 15px;
            width: 476px;
            text-align: center;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #262222;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.partners_info_frame {
  width: 100%;
  height: 315px;
  position: relative;

  .partners_info_header {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 90px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #262222;
  }

  .partners_info_container {
    width: 1220px;
    position: absolute;
    top: 195px;
    left: calc(50% - 610px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrow_left {
      width: 13px;
      height: 29px;
      background-image: url("../../../../assets/img/arrow_left.png");
      background-size: cover;

      &:hover {
        cursor: pointer;
      }
    }

    .arrow_right {
      width: 13px;
      height: 29px;
      background-image: url("../../../../assets/img/arrow_left.png");
      background-size: cover;
      transform: rotate(180deg);

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.awards_container {
  width: 100%;
  height: 655px;
  position: relative;

  .header_awa_cont {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55px;
    font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #262222;
  }

  .card_holder {
    position: relative;
    top: 150px;
    left: calc(50% - 553px);
    width: 1115px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    .single_cad {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 350px;
      height: 385px;
      border-radius: 15px;
      box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.04);

      .some_button {
        margin-top: 15px;
        height: 36px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 68px;
        color: #FFFFFF;
        background: #721B65;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        &:hover {
          cursor: pointer;
          background: #8d217d;
        }
      }

      .text_card {
        margin-top: 15px;
        width: 303px;
        text-align: center;
        font-size: 14px;
        line-height: 19px;
        color: #262222;
        opacity: 0.8;
      }

      .img_sie {
        height: 144px;
        width: 148px;
        margin-top: 32px;
      }

      .img_awa {
        height: 144px;
        width: 90px;
        margin-top: 32px;
      }

      .img_ntv {
        height: 144px;
        width: 110px;
        margin-top: 32px;
      }
    }
  }
}

//MAIN PIAUSTAS

.team-members .member {
  margin-bottom: 40px;
  text-align: center;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
    color: orange;
  }
}

.team-members .member .member-img img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #e8f0f9;
}

.partnet-image {
  max-height: 65px;
  height: 100%;
}

.team-members .member .info {
  margin: 20px 0 0;
}

.team-members .member .info p {
  font-size: 20px;
  font-weight: 700;
  color: #004b8c;
  margin: 0 0 -2px;
}

.team-members .member .info span {
  display: block;
}

.team-members .member .info span.member-position {
  min-height: 44px;
}

.team-members .member .info a {
  position: relative;
  display: inline-block;
  color: #156cc4;
  text-decoration: none;
}

.team-members .member .info a:hover {
  color: #ec5512;
  text-decoration: none;
}

.team-members .member .info a.member-inlink {
  padding-left: 18px;
}

.team-members .member .info a.member-inlink::before {
  position: absolute;
  font-family: "ws-iconset";
  content: "\f08c";
  top: 2px;
  left: 0;
}

.team-members .member .info a.member-email {
  display: block;
  margin-bottom: 10px;
  padding-left: 0;
}

.team-members .member .logo a {
  padding-left: 0;
}

.team-members .member .logo img {
  margin: 6px 0 -8px 0;
}

.team-members .member.dark .info p,
.team-members .member.dark .info span,
.team-members .member.dark .info a {
  color: #fff;
}

.team-members .member.dark .member-img img {
  box-shadow: 0 4px 0 0 #003554;
}

@media (max-width: 1199px) {
  .team-members .member .member-img img {
    display: block;
    margin: 0 auto 15px auto;
  }
}

@media (max-width: 480px) {
  .team-members .member .member-img img {
    width: 110px;
    height: 110px;
  }
  .team-members .member .info p {
    font-size: 15px;
  }
}

.module-team-members .team-members {
  -ms-flex-pack: center;
  justify-content: center;
}

.module-team-members .team-members.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.module-team-members .team-members .team-member {
  margin-top: 40px;
}

.module-team-members .team-members .team-member:nth-child(-n + 4) {
  margin-top: 0;
}

@media (max-width: 991px) {
  .module-team-members .team-members .team-member {
    margin-top: 30px;
  }
  .module-team-members .team-members .team-member:nth-child(-n + 4) {
    margin-top: auto;
  }
  .module-team-members .team-members .team-member:nth-child(-n + 3) {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .module-team-members .team-members .team-member:nth-child(-n + 3),
  .module-team-members .team-members .team-member:nth-child(-n + 4) {
    margin-top: 30px;
  }
  .module-team-members .team-members .team-member:first-child {
    margin-top: 0;
  }
}

.module-team-members .team-members .team-member .member-image {
  max-width: 160px;
  margin: 0 0 20px;
}

@media (max-width: 480px) {
  .module-team-members .team-members .team-member .member-image {
    max-width: 100px;
    margin: 0 0 10px;
  }
}

.module-team-members .team-members .team-member .member-name {
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 10px;
}

@media (max-width: 480px) {
  .module-team-members .team-members .team-member .member-name {
    font-size: 15px;
    margin: 0;
  }
}

.module-team-members .team-members .team-member .member-position {
  margin: 0;
}

.module-team-members .team-members .team-member .member-contacts {
  display: block;
}

.module-team-members .team-members .team-member .member-phone-number {
  color: #404040;
  margin: 2px 0 0;
}

@media (max-width: 480px) {
  .module-team-members .team-members .team-member .member-phone-number {
    margin: 0;
  }
}

.module-team-members .team-members .team-member .member-email {
  margin: 10px 0 0;
}

.module-team-members .team-members .team-member .member-social {
  font-size: 0;
  margin: 10px 0 0;
}

.module-team-members .team-members .team-member .member-social a {
  display: inline-block;
  margin-left: 15px;
  font-size: 15px;
}

.module-team-members .team-members .team-member .member-social a:first-child {
  margin: 0;
}

.module-team-members .team-members .team-member .member-social em {
  padding: 0 5px 0 0;
}

.module-team-members .team-members .team-member .investor-website {
  text-decoration: none;
}

.module-team-members .team-members .team-member .investor-logo {
  display: block;
}

.module-team-members .team-members .team-member img.investor-logo {
  margin: 0 auto 10px;
}

@media (max-width: 480px) {
  .module-team-members .team-members .team-member img.investor-logo {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  @supports (display: grid) {
    .module-team-members .team-members .team-member.investor {
      text-align: left;
      display: grid;
      grid-template-areas: "img name" "img logo" "img website";
      grid-template-rows: max-content max-content auto;
    }
    .module-team-members .team-members .team-member.investor .member-image {
      grid-area: img;
      margin: 0 auto;
    }
    .module-team-members .team-members .team-member.investor .member-name {
      grid-area: name;
    }
    .module-team-members .team-members .team-member.investor img.investor-logo {
      grid-area: logo;
      margin: 0 0 10px;
    }
    .module-team-members .team-members .team-member.investor .investor-website {
      grid-area: website;
    }
  }
}

p.kpi-value {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .kpi p.kpi-value {
    font-size: 25px;
    margin-bottom: 0;
  }
}

.img-circle {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Nunito', 'Nunito', 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  height: auto;
  border-radius: 50%;
  max-width: 160px;
  margin: 0 0 20px;
}

.kpi-label {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Nunito', 'Nunito', 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #404040;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: inherit;
  margin: 0;
}
