<div class="header">
  <div class="container ps-4 text-white py-5">
    <h1 class="text-primary text-start pt-5">
      <span class="bg-white fw-bold fs-1 p-1">  {{ "how_it_works.Einlagensicherung" | translate }}</span>
    </h1>
    <p class="mt-4 fs-3">{{ "how_it_works.Sicherheit" | translate }}</p>
    <p class="fw-normal pe-5 fs-5 ">
      {{ "insurance.Die" | translate }}
    </p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <img class="img-fluid" src="assets/img/einlagensicherung-d-01-header.svg"/>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12 mx-auto">
      <div>
        <p>
          {{ "insurance.wichtiger" | translate }}
          <b>{{ "insurance.Spareinlagen" | translate }}
          </b>
          {{ "insurance.Auch" | translate }} <a routerLink="/tagesgeld">{{ "insurance.Tagesgeld" | translate }}</a> {{ "insurance.und" | translate }}
          <a routerLink="/festgeld">{{ "insurance.Festgeld" | translate }}</a>
          {{ "insurance.diese" | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-primary btn-lg" routerLink="/registrierung/" target="_self">
      {{ "insurance.Jetzt" | translate }}
    </a>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="page-summary">
          <span class="page-summary-headline">{{ "insurance.Wichtigste" | translate }}</span>
          <div class="page-summary-content">
            <ul>
              <li>
                <strong>{{ "insurance.100k" | translate }}: </strong>{{ "insurance.Nach" | translate }}
              </li>
            </ul>
            <ul>
              <li>
                <strong>{{ "insurance.0eur" | translate }}: </strong>{{ "insurance.Seit" | translate }}
              </li>
              <li>
                <strong>{{ "insurance.8per" | translate }}</strong>: {{ "insurance.muss" | translate }}
              </li>
              <li>
                <strong> {{ "insurance.Fremdw" | translate }}</strong>: {{ "insurance.Einlagen" | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-primary text-white py-5">
  <div class="container">
    <h2 class="fs-1 fw-normal text-center">
      {{ "insurance.gilt" | translate }}
    </h2>
    <div class="d-flex justify-content-center py-2">
      <img class="img-fluid" src="assets/img/eu_stars1.png"/>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div class="container px-5">
          <p class="py-1">
            {{ "insurance.gesetzliche" | translate }}
            <br/>
            <br/>
            {{ "insurance.Durch" | translate }}
            <b> {{ "insurance.der" | translate }}</b> {{ "insurance.pro" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center mx-auto">
    <a class="btn btn-primary m-3" routerLink="/festgeld/" target="_self">
      {{ "insurance.Alle" | translate }}
    </a>
    <a class="btn btn-outline-primary m-3" routerLink="/tagesgeld/" target="_self">
      {{ "insurance.Tagesgeldangeboten" | translate }}
    </a>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <h2 class="fs-1 text-center">{{ "insurance.WasEinlagensicherung" | translate }}</h2>

    <div class="d-flex justify-content-center">
      <img class="d-sm-none d-md-block img-fluid"
           src="assets/img/einlagensicherung-d-02-was-ist-einlagensicherung.svg"/>
      <img class="d-none d-sm-block d-md-none img-fluid"
           src="assets/img/einlagensicherung-m-02-was-ist-einlagensicherung.svg"/>
    </div>

    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.innerhalb" | translate }}
            <b>{{ "insurance.XXXX" | translate }}
            </b>
            {{ "insurance.XXXX" | translate }}
            <b>{{ "insurance.100kPro" | translate }}</b> {{ "insurance.abgesichert" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.Mindestanforderungen" | translate }}
            <b>{{ "insurance.freiwillige" | translate }}</b>, {{ "insurance.indem" | translate }}
          </p>

          <p><strong>{{ "insurance.drei" | translate }}:</strong></p>
          <ul>
            <li>{{ "insurance.Gesetzliche" | translate }}</li>
            <li>{{ "insurance.Freiwillige" | translate }}</li>
            <li>{{ "insurance.Staatsgarantie" | translate }}</li>
          </ul>
          <p>
            {{ "insurance.ganz" | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="d-sm-none d-md-block">
        <img class="img-fluid" src="assets/img/einlagensicherung-d-03-saeule-der-einlagensicherung.svg"/>
      </div>
      <div class="d-none d-sm-block d-md-none">
        <img class="img-fluid" src="assets/img/einlagensicherung-m-03-saeule-der-einlagensicherung.svg"/>
      </div>
    </div>
  </div>
</section>
<section class="p-5">
  <div class="container">
    <h1 class="fs-3 text-center">
      {{ "insurance.einzelnen" | translate }}
    </h1>
    <div class="row border p-1">
      <div class="col-md-4 col-sm-12">
        <ul #nav="ngbNav" class="nav-pills" ngbNav orientation="vertical">
          <li *ngFor="let c of countries" ngbNavItem>
            <a ngbNavLink>{{ c.country }} </a>
            <ng-template ngbNavContent>
              <div [innerHtml]="c.content" class="pt-3"></div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-md-8 col-sm-12">
        <div [ngbNavOutlet]="nav" class="ms-4"></div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h3 class="fs-3 text-center">
      {{ "insurance.welche" | translate }}
    </h3>
    <div class="d-flex justify-content-center">
      <img class="d-sm-none d-md-block img-fluid"
           src="assets/img/einlagensicherung-d-04-welche-konten-haben-einlagesicherung.svg"/>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.DieSpareinlagen" | translate }}
            <a routerLink="/geldanlage/sparbuch/">{{ "insurance.Sparb" | translate }}</a>
            {{ "insurance.Sparbriefe" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h3 class="fs-3 text-center">
      {{ "insurance.wen" | translate }}
    </h3>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <p>
          {{ "insurance.Schutz" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="d-flex justify-content-center">
      <img class=" img-fluid" src="assets/img/einlagensicherung-d-06-deutschland.svg"/>

    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h3 class="fs-3 text-center">{{ "insurance.Deutschland" | translate }}</h3>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.vergleichsweise" | translate }}
          </p>
          <p><b>{{ "insurance.Private" | translate }}</b></p>
          <p>
            {{ "insurance.privaten" | translate }}
            <b>{{ "insurance.deutscher" | translate }}</b> {{ "insurance.zust" | translate }}
            <b>{{ "insurance.freiwilligen" | translate }}</b>. {{ "insurance.Dabei" | translate }}
          </p>
          <p><b>{{ "insurance.Banken" | translate }}</b></p>
          <p>
            {{ "insurance.Mitglieder" | translate }}
            <b>{{ "insurance.Entsch" | translate }}</b>. {{ "insurance.Abseits" | translate }}
          </p>
          <p><b>{{ "insurance.Sparkassen" | translate }}</b></p>
          <p>
            {{ "insurance.SparkassenUnd" | translate }} <b>{{ "insurance.Institutssicherung" | translate }}</b>. {{ "insurance.Falls" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="d-flex justify-content-center">
      <img class=" img-fluid" src="assets/img/einlagensicherung-d-07-europa.svg"/>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h3 class="fs-3 text-center">{{ "insurance.EinlagensicherungInEur" | translate }}</h3>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.BankenDie" | translate }}
          </p>
          <p>
            {{ "insurance.Jahr" | translate }}
            <b>{{ "insurance.vereinfacht" | translate }}</b>. {{ "insurance.einer" | translate }}
          </p>
          <p>
            {{ "insurance.internationalen" | translate }}
          </p>
          <p>
            {{ "insurance.bisMuss" | translate }} <b>{{ "insurance.gesetzlicheAus" | translate }}</b> {{ "insurance.durch" | translate }} <b>{{ "insurance.Arbeitstage" | translate }}</b>{{ "insurance.reduziert" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="fs-3 text-center">{{ "insurance.EinlagensicherungIn" | translate }}</h2>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.BankenAus" | translate }}
            <b>{{ "insurance.Bonit" | translate }}</b> {{ "insurance.zuBeachten" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <img class="img-fluid" src="assets/img/einlagensicherung-d-08-nicht-eu-laender.svg"/>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="fs-3 text-center">
      {{ "insurance.Abwicklung" | translate }}
    </h2>

    <div class="d-flex justify-content-center">
      <img class="img-fluid" src="assets/img/wie-entschaedigungen-ablaufen.svg"/>

    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.Schadensfall" | translate }}
          </p>
          <p>
            {{ "insurance.Insbesondere" | translate }}
          </p>
          <p>
            {{ "insurance.selbstve" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2 class="fs-3 text-center">
      {{ "insurance.noch" | translate }}
    </h2>
    <div class="d-flex justify-content-center">
      <div class="d-none d-xs-none d-sm-none ">
        <img class="img-fluid" src="assets/img/einlagensicherung-d-10-noch-mehr-schutz.svg"/>
      </div>
      <div class="d-none d-xs-block d-sm-block d-flex">
        <img class="img-fluid" src="assets/img/einlagensicherung-m-10-noch-mehr-schutz.svg"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.Rahmen" | translate }}
            <b>{{ "insurance.Bankenaufsicht" | translate }}</b> {{ "insurance.sorgen" | translate }}
            <b>{{ "insurance.mindestens" | translate }}</b>{{ "insurance.entsprechen" | translate }}
          </p>
          <p>
            {{ "insurance.TagesgeldUnd" | translate }}
            <b>{{ "insurance.Geldanlagen" | translate }} </b>{{ "insurance.werdenAls" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h3 class="fs-3 text-center">{{ "insurance.funktioniert" | translate }}</h3>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <p>
            {{ "insurance.erhalten" | translate }}
          </p>
          <p>
            {{ "insurance.FestgeldUnd" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <img class="d-sm-none d-md-block img-fluid"
           src="assets/img/einlagensicherung-d-12-wie-funktioniert-zinsunion.svg"/>
      <img class="d-none d-sm-block d-md-none img-fluid"
           src="assets/img/einlagensicherung-m-12-wie-funktioniert-zinsunion.svg"/>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h3 class="fs-3 text-center">{{ "insurance.Blick" | translate }}</h3>
    <div class="row">
      <div class="col-md-8 col-xs-12 mx-auto">
        <div>
          <ul>
            <li>
              {{ "insurance.hohe" | translate }}
            </li>
            <li>{{ "insurance.ohne" | translate }}</li>
            <li>
              {{ "insurance.AlleAnge" | translate }}
            </li>
            <li>{{ "insurance.Geldanlage" | translate }}</li>
            <li>
              {{ "insurance.meisten" | translate }}
            </li>
            <li>
              {{ "insurance.AnlageIn" | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
