<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        <img class="img-container" src="assets/img/flag/{{selectedLanguage}}.png" />
        {{ geti18nKey() | translate }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="selectLanguage('de')"><img class="img-container" src="assets/img/flag/de.png"/>{{'navbar.languages.de' | translate}}</button>
        <button ngbDropdownItem (click)="selectLanguage('en')"><img class="img-container" src="assets/img/flag/en.png"/>{{'navbar.languages.en' | translate}}</button>
      </div>
    </div>
  </div>
</div>
