<div class="content mt-5">
  <mat-card class="m-5 mx-auto" style="padding-top: 0; padding-left: 0; padding-right: 0; max-width: 60%">
    <mat-card-title class="py-4 text-center header_register">
      Your email
      <div class="header_register_text">
        Enter your email to register in the system
      </div>
    </mat-card-title>


    <mat-card-content>
      <div class="container mt-3">
        <form (ngSubmit)="onSubmit()" [formGroup]="emailForm">
          <div class="row">
            <div class="col-8 text-start mx-auto">
              <div class="enter_field">
                Email
              </div>
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label> {{"register.email.email" | translate}}</mat-label>
                <input (change)="checkExist()" autocomplete="off" formControlName="email" matInput type="email"/>

<!--                <mat-hint *ngIf="!emailExistInDB">-->
<!--                  {{"register.email.ich" | translate}} <a routerLink="/about/security" target="_blank">{{"register.email.datenschutzbestimmungen" | translate}}</a> {{"register.email.der" | translate}}-->
<!--                </mat-hint>-->
              </mat-form-field>
              <div *ngIf="emailExistInDB" class="text-danger">
                {{"register.email.address" | translate}}
              </div>
              <div *ngIf="blacklisted" class="text-danger">
                {{"register.email.blacklist" | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8 mx-auto mt-3">
              <mat-checkbox class="text-start text-wrap" color="primary">
                Do not miss any information on partner banks, new offers, interest rate changes and premiums. Sign up for our newsletter. You can unsubscribe at any time.
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button [disabled]="!emailForm.valid || emailExistInDB || blacklisted" class="btn btn-orange text-white mt-2 das_ist_button" type="submit">
                <span *ngIf="loadingProgress" [aria-hidden]="!loadingProgress" class="spinner-grow spinner-grow-sm" role="status"></span>
                Next
              </button>
            </div>
          </div>
          <div class="row mt-1 mb-5">
            <div class="col text-center text-muted">
              <div class="down_words">
                <img src="assets/img/lock%201.png">
                Your details will be transmitted in encrypted form.
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
