.text_style {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notice {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #404040;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  box-sizing: border-box;
}

.mat-card {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 750px !important;
}

.header_register {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 40px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;

  .header_register_text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
}

.enter_field {
  margin-top: 25px;
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.input_header {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #262222;
  font-weight: 400;
}

.checkbox_rediz {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(38, 34, 34, 1);
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
}

.das_ist_button {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  border: none;
  padding: 15px 40px;
  background: #F08A5D;
  border-radius: 8px;
  color: #FFFFFF;

  &:hover {
    cursor: pointer;
    background: #EE662A;
  }
}

.mat-card:not([class*=mat-elevation-z]) {
 box-shadow: none !important;
}