<div class="">
  <div class="">
    <div class="container">
      <h2>{{"register.password.willkommen" | translate}} {{ fullName ? fullName : "" }} !</h2>
      <hr/>
      <p class="text-start text-wrap pe-5 pt-5 ps-5">
        {{"register.password.willkommen_bitte" | translate}}
      </p>
    </div>
    <div class="container">
      <div class="mt-5">
        <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
          <div class="row">
            <label class="col-sm-12 control-label col-md-4 mt-2 text-start" for="password">{{"register.password.password" | translate}}</label>
            <div class="col-sm-12 col-md-8 text-start">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label> {{"register.password.password" | translate}}</mat-label>
                <input formControlName="password" id="password" matInput type="password"/>
                <mat-error>
                  {{"register.password.die" | translate}}
                </mat-error>
              </mat-form-field>
              <div>
                <app-password-strength-bar [password]="password.value"></app-password-strength-bar>
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <label class="col-sm-12 control-label col-md-4 text-start" for="confirmPassword">{{"register.password.passwort" | translate}}</label>
            <div class="col-sm-12 col-md-8 text-start">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label> {{"register.password.wiederholen" | translate}}</mat-label>
                <input formControlName="confirmPassword" id="confirmPassword" matInput type="password"/>
                <mat-error>
                  {{"register.password.eingegebenen" | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">

              <button [disabled]="registerOnGoing" class="btn btn-orange text-white" type="submit">
                <span *ngIf="registerOnGoing" aria-hidden="true" class="spinner-grow spinner-grow-sm" role="status"></span>
                {{"register.password.speichern" | translate}}

              </button>
            </div>
          </div>
          <div class="text-muted mt-1 text-start">{{"register.password.pflichtfeld" | translate}}</div>
        </form>
        <hr/>
        <div class="row">
          <div class="col text-center">
            <p>
              {{"register.password.wenn" | translate}}
            </p>
            <br/>
            <span>
              <i class="fa-telephone"></i>
              <span>{{ contacts.customer.template }} {{"register.password.schedule" | translate}} </span>
            </span>
            <br/>
            <div>
              <a [href]="emails.service.href" rel="" target="_blank" target="_self">
                <i class="fa fa-envelope m-1"></i> {{emails.service.template}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
