.header_register {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  font-size: 40px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
}

.header_register_text {
  margin-top: 15px !important;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.enter_field {
  margin-top: 15px;
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.das_ist_button {
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  border: none;
  padding: 15px 40px;
  background: #F08A5D;
  border-radius: 8px;
  color: #FFFFFF;

  &:hover {
    cursor: pointer;
    background: #EE662A;
  }
}

.down_words {
  font-size: 14px;
  line-height: 19px;
  color: rgba(38, 34, 34, .4);
}

.some_containa_3 {
  margin-left: auto;
  margin-right: auto;
}

.links_container_orient {
  margin-top: -20px !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  //flex-direction: column;

  .links_header {
    user-select: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #262222;
  }

  .time_block {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      margin-top: 2px;
    }

    .time_header {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #262222;
    }

    .time_descriptor {
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      color: #262222;
      opacity: 0.6;
      margin-top: 3px;
    }
  }

  .call_block {
    img {
      margin-top: -2px;
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #F08A5D;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: #ee662a;
    }
  }
}