<div class="daz_navigator_bch">
  <div class="navi_placer">
    <div class="prev_way">
      About us
    </div>
    <div class="arrow_right"></div>
    <div class="current_local">
      Fixed deposit
    </div>
  </div>
</div>

<div class="daz_poster_bcbkff">
  <div>
    <h1>
      Fixed money comparison
    </h1>
    <h2>
      Securely invest time deposits with ZinsUnion
    </h2>
    <div class="main_frame_caller">
      More
      <div class="mainframe_arrow">
      </div>
    </div>
  </div>
</div>

<div class="card_holda">
  <div class="containa_cr">
    <div class="cardz_plc">
      <div class="card_plc">
        <img src="assets/img/icon_pepa.png">
        <div class="txt_plc">
          <b>Fixed-term deposits with up to</b> 1.50% <b>interest pa</b>
        </div>
      </div>

      <div class="card_plc">
        <img src="assets/img/icon_rot.png">
        <div class="txt_plc">
          <b>No account</b> management <b>fees</b>
        </div>
      </div>

      <div class="card_plc">
        <img src="assets/img/icon_key.png">
        <div class="txt_plc">
          Easy <b>registration & secure online access</b>
        </div>
      </div>
    </div>

  </div>

</div>

<!--<div class="header">-->
<!--  <div class="container ps-4 text-white pt-5 pb-5">-->
<!--    <h1 class="text-primary text-start pt-5">-->
<!--      <span class="bg-white fw-bold fs-1 p-1"> {{ 'festgeld.FESTGELD' | translate }} </span>-->
<!--    </h1>-->
<!--    <p class="mt-4 fs-3">{{ 'festgeld.sicher' | translate }}</p>-->
<!--    <ul class="ul-check-list pt-3">-->
<!--      <li class="pt-3">-->
<!--        <strong class="fs-4 fw-normal">{{ 'festgeld.mit' | translate }}</strong>-->
<!--      </li>-->
<!--      <li class="pt-3"><strong class="fs-4 fw-normal">{{ 'festgeld.Keine' | translate }}</strong></li>-->
<!--      <li class="pt-3">-->
<!--        <strong class="fs-4 fw-normal">{{ 'festgeld.Registrierung' | translate }} </strong>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <p class="fs-1 mt-5 mb-3 text-center mx-auto">-->
<!--    {{ 'festgeld.profitieren' | translate }}-->
<!--  </p>-->

  <div class="row">
    <app-offers [festgeld]="false"></app-offers>
  </div>
<!--</div>-->
