<div class="table_holda">

</div>

<!--<div class="header">-->
<!--  <div class="container ps-4 text-white pt-5 pb-5">-->
<!--    <h1 class="text-primary text-start pt-5">-->
<!--      <span class="bg-white fw-bold fs-1 p-1"> {{ 'festgeld.FESTGELD' | translate }} </span>-->
<!--    </h1>-->
<!--    <p class="mt-4 fs-3">{{ 'festgeld.sicher' | translate }}</p>-->
<!--    <ul class="ul-check-list pt-3">-->
<!--      <li class="pt-3">-->
<!--        <strong class="fs-4 fw-normal">{{ 'festgeld.mit' | translate }}</strong>-->
<!--      </li>-->
<!--      <li class="pt-3"><strong class="fs-4 fw-normal">{{ 'festgeld.Keine' | translate }}</strong></li>-->
<!--      <li class="pt-3">-->
<!--        <strong class="fs-4 fw-normal">{{ 'festgeld.Registrierung' | translate }} </strong>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <p class="fs-1 mt-5 mb-3 text-center mx-auto">-->
<!--    {{ 'festgeld.profitieren' | translate }}-->
<!--  </p>-->

  <div class="row">
    <app-offers [festgeld]="false"></app-offers>
  </div>
<!--</div>-->
