<div class="dash_screen">
    <div class="left_menu">

        <div class="user_container">
            <div class="image_container" routerLinkActive="active">
                <div class="plus_container">
                    <img src="./assets/img/pexels-photo-614810.jpeg" alt="avatar"/>
                    <a class="plus" routerLink="/dashboard/Personal" (click)="chooseRoute('casual')">+</a>
                </div>

            </div>
            <div class="user_name">
                {{user?.name}}
            </div>

            <div class="undername_strip"></div>
        </div>


        <div class="buttons_container " routerLinkActive="active">
            <a class="home_btn" [ngClass]="{'active': !offersOpen }" routerLink="/dashboard/MyInvestments" (click)="chooseRoute('casual'); openRoute();">
                <div class="home_icon">
                </div>
                <div class="home_txt">
                    Home
                </div>
            </a>
            <a class="offers_btn" (click)="openRoute()" [ngClass]="{'active': !!offersOpen }">
                <div class="home_icon">
                </div>
                <div class="home_txt" >
                    Offers
                </div>
            </a>
            <div class="txt_sheets" *ngIf="offersOpen" >
                <div class="txt_txt" routerLink="festgeld" [ngClass]="{'activeItem': routeShow === 'fixed' }" (click)="chooseRoute('fixed')">
                    Fixed deposit
                </div>
                <div class="txt_txt" (click)="chooseRoute('over')" [ngClass]="{'activeItem': routeShow === 'over' }">
                    Overnight money
                </div>
            </div>
        </div>

        <div class="amount_container">
            <div class="sheet_acc _acc">
                <div class="text_head">
                    Zinsunion Account
                </div>
                <div class="text_data">
                    € {{user?.availableBalance}}
                </div>
            </div>
            <div class="sheet_acc _amo">
                <div class="text_head">
                    Amount available
                </div>
                <div class="text_data">
                    € {{user?.totalBalance}}
                </div>
            </div>
        </div>
    </div>

    <div class="right_container" >
        <div class="logout_container">
            <div class="logout_button" (click)="logout()">
                <div class="icon_lo">
                </div>
                Logout
            </div>
        </div>

        <div class="main_content">
            <div class="router_container">
                <app-offers (onOfferSelected)="onOfferSelected($event)" [festgeld]="false" *ngIf="routeShow === 'fixed'"></app-offers>
                <app-offers (onOfferSelected)="onOfferSelected($event)" [festgeld]="true" [place]="'festgeld'" *ngIf="routeShow === 'over'"></app-offers>
                <app-deposit-products *ngIf="routeShow === 'offer'" [offerId]="offerId"></app-deposit-products>
                <router-outlet *ngIf="routeShow === 'casual'"></router-outlet>
            </div>

            <div class="plant_status_container" *ngIf="routeShow === 'casual'">
                <h1 class="title">Open your first plant</h1>

                <p class="description">
                    Benefit from higher interest rates with our savings offers. Better than your house bank.
                </p>

                <div class="action_container">
                    <div class="button deposit_offers" (click)="chooseRoute('fixed')">Deposit offers</div>
                    <div class="button overnight_offers" (click)="chooseRoute('over')">Overnight offers</div>
                </div>
            </div>
        </div>
    </div>

</div>
