<section class="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-9">
              <h1>
                <div>
                  {{'shared_about.terms.Allgemeine' | translate}}
                </div>
              </h1>
              <div>
                <div>
                  <h2>
                    {{'shared_about.terms.ambel' | translate}}
                  </h2>

                  <h3>&nbsp;</h3>

                  <h3>
                    {{'shared_about.terms.Internet' | translate}}
                  </h3>

                  <p>
                    {{'shared_about.terms.Limited' | translate}}
                    „<strong>
                      {{'shared_about.terms.Zinsunion' | translate}}
                    </strong>“)
                    {{'shared_about.terms.bietet' | translate}}
                    <a href="http://www.zinsunion.com">www.zinsunion.com</a>
                    {{'shared_about.terms.und' | translate}}
                    <a href="http://www.zinsunion.com">www.zinsunion.com</a>
                    {{'shared_about.terms.nachfolgend' | translate}}
                      <strong>
                        {{'shared_about.terms.Plattform' | translate}}
                      </strong>“)
                    {{'shared_about.terms.teilzunehmen' | translate}}
                    <strong>
                      {{'shared_about.terms.Produkt' | translate}}
                    </strong>
                    <strong>
                      {{'shared_about.terms.ZinsUnion' | translate}}
                    </strong>“).
                    {{'shared_about.terms.Kunden' | translate}}
                  </p>

                  <ol>
                    <li>
                      {{'shared_about.terms.Einlagenangeboten' | translate}}
                      <strong>
                        {{'shared_about.terms.Produkt' | translate}}
                      </strong>
                      <strong>
                        {{'shared_about.terms.Einlagenprodukte' | translate}}
                      </strong>“
                      {{'shared_about.terms.Unternehmen' | translate}}
                      <strong>
                        {{'shared_about.terms.Partnerbank' | translate}}
                      </strong>“
                      {{'shared_about.terms.XXXXX' | translate}}
                      „<strong>
                      {{'shared_about.terms.XXXXX' | translate}}

                    </strong>“)
                    </li>
                  </ol>

                  <p>
                    {{'shared_about.terms.stellt' | translate}}
                  </p>

                  <p>
                    <strong>
                      {{'shared_about.terms.Angebot' | translate}}
                    </strong><a href="http://www.zinsunion.com"><strong>www.zinsunion.com</strong></a><strong>
                    {{'shared_about.terms.Privatkunden' | translate}}

                  </strong>
                  </p>

                  <h3>&nbsp;</h3>

                  <h3>
                    {{'shared_about.terms.Kooperation' | translate}}
                  </h3>

                  <p>
                    {{'shared_about.terms.kooperiert' | translate}}
                    „<strong>
                    {{'shared_about.terms.Bank' | translate}}
                    </strong>“),
                    {{'shared_about.terms.bei' | translate}}
                    „<strong>
                    {{'shared_about.terms.Konto' | translate}}
                    </strong>“)
                    {{'shared_about.terms.dient' | translate}}
                  </p>

                  <p>
                    {{'shared_about.terms.Nach' | translate}}
                    „<strong>
                    {{'shared_about.terms.Depot' | translate}}
                    </strong>“)
                    {{'shared_about.terms.Anlagebetrag' | translate}}
                  </p>

                  <p>
                    {{'shared_about.terms.elektronischen' | translate}}
                  </p>

                  <h3>&nbsp;</h3>

                  <h3>
                    {{'shared_about.terms.Distributionspartnern' | translate}}
                  </h3>

                  <p>
                    {{'shared_about.terms.Einlagenbereich' | translate}}
                  </p>

                  <p>
                    {{'shared_about.terms.Produkts' | translate}}
                  </p>

                  <p><strong>
                    {{'shared_about.terms.Plattformvertrag' | translate}}
                  </strong>,</p>

                  <p>
                    <strong>
                      {{'shared_about.terms.Kontovertrag' | translate}}
                    </strong>
                    {{'shared_about.terms.Nutzung' | translate}}
                  </p>

                  <p>
                    <strong>
                      {{'shared_about.terms.jeweiligen' | translate}}
                    </strong>
                  </p>

                  <p>
                    <strong>
                      {{'shared_about.terms.Depotvertrag' | translate}}
                    </strong>
                  </p>

                  <p>
                    <strong>
                      {{'shared_about.terms.Distributionspartner' | translate}}
                    </strong>
                    {{'shared_about.terms.von' | translate}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
