.header_container {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 70px;

  .zinsstar_logo {
    position: absolute;
    width: 98px;
    height: 37px;
    left: calc(50% - 49px);
  }

  .header_language {
    width: 42px;
    height: 40px;
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    position: relative;

    &:hover {
      .lang_choose {
        display: flex;
      }
    }
    }

    .footer_arrow {
      width: 9px;
      height: 4px;
      background-image: url("../../../../assets/img/footer_arrow_drop.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      cursor: pointer;

      .footer_arrow {
        background-image: url("../../../../assets/img/footer_arrow_drop_hover.png");
      }
    }

    .lang_choose {
      padding-top: 5px;
      padding-bottom: 5px;
      z-index: +20;
      display: none;
      position: absolute;
      top: 40px;
      right: 0;
      background: #ffffff;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 14px;
      line-height: 19px;
      flex-direction: column;

      img {
        margin-top: 2px;
        margin-right: 10px;
        width: 20px;
        height: 15px;
      }

      a {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        flex-wrap: nowrap;
        color: #262222;
        user-select: none;
        text-decoration: none;
        margin: 10px 15px 10px 15px;

        &:hover {
          color: #ee662a;
        }

    }
  }

  .header_placer {
    position: absolute;
    width: 1220px;
    height: 70px;
    top: 0px;
    left: calc(50% - 610px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .controls_container {
      display: flex;
      gap: 16px;

      .log_button {
        font-size: 14px;
        line-height: 19px;
        width: 68px;
        height: 31px;
        border: 1px solid #F08A5D;
        border-radius: 6px;
        color: #F08A5D;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          user-select: none;
          background: #ee662a;
          border: 1px solid #ee662a;
          color: #ffffff;
        }
      }

      .reg_button {
        font-size: 14px;
        line-height: 19px;
        width: 83px;
        height: 31px;
        border: 1px solid #F08A5D;
        background: #F08A5D;
        border-radius: 6px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          user-select: none;
          background: #ee662a;
          border: 1px solid #ee662a;
        }
      }
    }

    .links_drops_container {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .links_drops {
        height: 40px;
        font-size: 16px;
        line-height: 22px;
        color: #262222;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        position: relative;

        .drop_box_container {
          padding-top: 5px;
          padding-bottom: 5px;
          z-index: +20;
          display: none;
          position: absolute;
          top: 40px;
          left: 0;
          background: #ffffff;
          border-radius: 6px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 14px;
          line-height: 19px;
          flex-direction: column;

          a {
            display: flex;
            flex-direction: row;
            white-space: nowrap;
            flex-wrap: nowrap;
            color: #262222;
            user-select: none;
            text-decoration: none;
            margin: 10px 15px 10px 15px;

            &:hover {
              color: #ee662a;
            }
          }
        }

        &:hover {
          cursor: pointer;
          user-select: none;
          color: #ee662a;
          .link_drops_arrow {
            cursor: pointer;
            background-image: url("../../../../assets/img/footer_arrow_drop_hover.png");
          }
          .drop_box_container  {
            display: flex;
          }
        }

        .link_drops_arrow {
          width: 9px;
          height: 4px;
          background-image: url("../../../../assets/img/footer_arrow_drop.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

  }
}

.example-spacer {
  flex: 1 1 auto;
}

.z-dropdown {
  a:hover {
    color: orange !important;
  }
}

.dropdown-item {
  :hover {
    color: orange !important;
  }
}
