.password-strength-container {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #40403f;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 5px 0;

  .password-bar {
    font-family: inherit;
    font-size: 15px;
    line-height: 1.5;
    color: #40403f;
    box-sizing: border-box;
    height: 3px;
    display: inline-block;
    flex-grow: 1;
    margin: 0 5px 0 0;
    background: #d7d7d7;

    &__active {
      background: #1bad2b;
    }
  }
}

ul#strengthBar {
  display: inline;
  list-style: none;
  width: 100%;
  vertical-align: 2px;
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #40403f;
  box-sizing: border-box;
  padding: 5px 0;

  li {
    font-size: 15px;
    line-height: 1.4;
    color: #40403f;
    box-sizing: border-box;
    height: 3px;
    display: inline-block;
    flex-grow: 1;
    margin: 0 5px 0 0;
    background: #d7d7d7;
    border-radius: 2px;
    width: 15%;
  }
}

.point:last {
  margin: 0 !important;
}

.point {
  border-radius: 2px;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.5;
  color: #40403f;
  box-sizing: border-box;
  height: 3px;
  flex-grow: 1;
  margin: 0 5px 0 0;
  background: #d7d7d7;
}
