<app-base-top></app-base-top>
<div class="bg-light">
  <div class="container">
    <div class="d-flex justify-content-evenly pt-5 pb-5">
      <div class="col-lg-3 col-xs-6 col-sm-6">
        <div class="text-center">
          <div>
            <em class="fa fa-happy"></em>
          </div>
          <p>
            {{ "why_us.top.num" | translate }}<br/>
            {{ "why_us.top.zufriedene" | translate }}
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-6">
        <div class="text-center">
          <a target="_blank" href="https://g.page/r/CZ_uKljJxw7iEBA">
            <div class="review-widget_net" data-uuid="bff23e56-cd4a-4475-841e-044e7e00f805" data-template="8" data-filter="" data-lang="en" data-theme="light"><a href="https://www.review-widget.net/" target="_blank" rel="noopener"><img src="https://grwapi.net/assets/spinner/spin.svg" title="Google Review Widget" alt="Review Widget"></a></div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-6 d-none d-sm-block">
        <div class="text-center pt-3">
          <img alt="" src="assets/img/media-logos.png"/>
          <p>{{ "why_us.top.bekannt" | translate }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="bg-primary p-5">
  <div class="container text-center text-white">
    <h2 class="fw-normal fs-2">{{ "why_us.top.zinsen" | translate }}</h2>
    <div class="row">
      <div class="col-md-6 col-xs-12 col-centered text-center mx-auto">
        <p class="fw-normal fs-6">
          {{ "why_us.top.bei" | translate }}
        </p>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-outline-light btn-primary btn-lg" routerLink="/festgeld/"
         target="_self">
        {{ "why_us.top.jetzt" | translate }}
      </a>
    </div>
  </div>
</div>

<div class="bg-gray p-5">
  <div class="container">
    <h2 class="fw-normal fs-1 text-lg-center">{{ "why_us.title" | translate }}</h2>
    <div class="row">
      <div class="col-md-4 col-xs-12 text-center">
        <div class="menu-icon m-5">
          <img alt="" src="assets/icon/svg/fa-piggybank.svg"/>
        </div>
        <h1 class="text-center">{{ "why_us.col1.header" | translate }}</h1>
        <div class="text-center">
          <p>{{ "why_us.col1.content" | translate }}</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-center">
        <div class="menu-icon m-5">
          <img alt="" src="assets/icon/svg/fa-shield-check.svg"/>
        </div>
        <h1 class="  text-center">{{ "why_us.col2.header" | translate }}</h1>
        <div class="text-center">
          <p>{{ "why_us.col2.content" | translate }}</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-center">
        <div class="menu-icon m-5">
          <img alt="" src="assets/icon/svg/fa-couch.svg"/>
        </div>
        <h1 class="  text-center">{{ "why_us.col3.header" | translate }}</h1>
        <div class="text-center">
          <p>{{ "why_us.col3.content" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="text-center m-5">
      <a class="btn btn-primary" routerLink="/einlagensicherung/" target="_self">
        {{ "why_us.learn_more" | translate }}
      </a>
    </div>
  </div>
</div>

<div class="bg-primary p-5">
  <div class="container text-center">
    <h2 class="h1 text-center text-white">
      {{ "to_ask.title" | translate }}
    </h2>
    <div class="row text-white">
      <div class="col-md-8 col-xs-12 text-center mx-auto">
        <p>{{ "to_ask.content" | translate }}</p>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-outline-light btn-primary btn-lg" routerLink="/faqs/" target="_self">
        {{ "to_ask.btn" | translate }}
      </a>
    </div>
  </div>
</div>
