.offer-insurance-container {
  font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #404040;
  box-sizing: border-box;
  padding: 15px;
  display: block;
  transition: opacity 0.15s linear;
  opacity: 1;

  &__headingWrapper {
    font-size: 15px;
    line-height: 1.5;
    color: #404040;
    box-sizing: border-box;
    display: flex;

    &__title {
      font-family: 'Nunito', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.5;
      box-sizing: border-box;
      display: flex;
      color: #404040;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      margin: 20px 0;
    }
  }
}
