<div class="card_hadar">
  <div class="round_it">{{ num }}</div> {{ title }}
</div>


<div class="d-flex flex-row justify-content-around py-1">


<!--  <figure [ngClass]="{ 'py-0': document === docType.SELFIE }">-->
<!--    <img class="img-fluid" [src]="image" alt="" width="250px" height="200px" />-->
<!--  </figure>-->


  <div class="d-flex flex-column" [ngSwitch]="status">
    <div *ngSwitchCase="docStatus.NA">
      <b class="inner_hadar">{{'dashboard.verification.Foto' | translate}} <span *ngIf="document !== docType.SELFIE">/ {{'dashboard.verification.Scan' | translate}}</span></b>
      <div class="my-3 text-muted" style="font-size: 12px !important">
        <strong *ngIf="document === docType.SELFIE">
          {{'dashboard.verification.Auswei' | translate}}
        </strong>
        <p class="m-0 mt-1"><b>{{'dashboard.verification.Hell' | translate}}</b> {{'dashboard.verification.gute' | translate}}</p>
        <p class="m-0">
          <b>{{'dashboard.verification.Unbeschnitten' | translate}}</b> {{'dashboard.verification.Alle' | translate}}
        </p>
        <p class="m-0"><b>{{'dashboard.verification.Erlaubte' | translate}}</b> :png, jpg, jpeg, pdf, bmp</p>
      </div>
      <button
        class="btn btn-sm btn-primary flex-end some_class das_ist_button_zmall"
        (click)="onSelect()"
        *ngIf="
          uploadStatus === UploadStatus.idle ||
          uploadStatus === UploadStatus.failed
        "
      >
        Upload
      </button>
    </div>


    <div *ngSwitchCase="docStatus.PENDING">
      <div class="justify-content-center align-content-center">
        <p class="px-3">
          {{'dashboard.verification.Ihre' | translate}}
        </p>
        <p class="px-3">
          {{'dashboard.verification.werden' | translate}}
        </p>
        <p class="px-3 text-muted">
          {{'dashboard.verification.dauern' | translate}}
        </p>
      </div>
    </div>


    <div *ngSwitchCase="docStatus.DECLINED">
      <div
        class="d-flex flex-column justify-content-center align-content-center"
      >
        <strong class="px-3"> {{'dashboard.verification.Grund' | translate}} </strong>
        <span class="px-3 pb-1" [innerHTML]="reason"></span>
        <ul class="text-muted mt-1">
          <strong>{{'dashboard.verification.Bitte' | translate}}</strong>
          <li><b>{{'dashboard.verification.Hell' | translate}}</b> {{'dashboard.verification.gute' | translate}}(gute Qualität)</li>
          <li>
            <b>{{'dashboard.verification.Unbeschnitten' | translate}}</b> {{'dashboard.verification.Alle' | translate}}
          </li>
          <li><b>{{'dashboard.verification.Erlaubte' | translate}}</b> :png, jpg, jpeg, pdf, bmp.</li>
        </ul>
        <button
          class="das_ist_button_zmall sixe_ir"
          (click)="onSelect()"
          *ngIf="
            uploadStatus === UploadStatus.idle ||
            uploadStatus === UploadStatus.failed
          "
        >
          Upload
        </button>
      </div>
    </div>


    <div *ngSwitchCase="docStatus.VERIFIED" class="d-flex align-content-center">
      <div class="container-fluid">
        <p class="p-3 text-success">
          {{'dashboard.verification.hochgeladene' | translate}}
        </p>
      </div>
    </div>

    <div
      class="d-flex flex-column pt-3"
      *ngIf="uploadStatus === UploadStatus.ongoing"
    >
      <mat-progress-bar
        [value]="uploadProgress"
        mode="determinate"
      ></mat-progress-bar>
      <div>
        <p>{{ uploadProgress }} %</p>
      </div>
    </div>
  </div>

  <figure [ngClass]="{ 'py-0': document === docType.SELFIE }">
    <img class="some_imaga" [src]="image" alt="" width="250px" height="200px" />
  </figure>
</div>

<input
  #fileUpload
  [hidden]="true"
  [accept]="acceptUploads"
  type="file"
  *ngIf="status !== docStatus.VERIFIED"
/>

<ng-template #errorModal let-modal>
  <div class="modal-header justify-content-center" style="background: #e85e6c">
    <div class="d-flex">
      <fa-icon
        class="img-fluid text-white p-4"
        [icon]="faExclamationCircle"
        size="6x"
      ></fa-icon>
    </div>
  </div>
  <div class="modal-body text-center">
    <h4 class="fs-4 fw-bold">{{'dashboard.verification.Ooops' | translate}}</h4>
    <p>
      {{'dashboard.verification.Datei' | translate}} <br />
      {{'dashboard.verification.Dateiformat' | translate}}
    </p>
    <button class="btn btn-warning" (click)="modal.close()">
      {{'dashboard.verification.versuchen' | translate}}
    </button>
  </div>
</ng-template>
