<div class="bg-primary">
  <div class="container text-white">

    <div class="d-flex flex-column justify-content-center">
      <h1 class="fs-1 fw-normal text-center pt-5">{{ "how_it_works.title" | translate }}</h1>
      <strong class="text-center fs-6 py-1">{{ "how_it_works.Sparen" | translate }}</strong>
      <p class="text-center  fw-normal">
        {{ "how_it_works.title" | translate }}
      </p>
      <div class=" d-none d-md-block text-center">
        <img alt="" class=" img-fluid" src="assets/icon/base/de_lp_wsraisinconnect_v4_desktop.svg"/>
      </div>
      <div class="col text-center ">
        <p>
          {{ "how_it_works.Finanz" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-light p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div>
          <div class="text-start">
            <p><strong>{{ "how_it_works.Europaweite" | translate }}</strong></p>
            <p>
              {{ "how_it_works.Kostenlos" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div>
          <div class="text-start">
            <p><strong>{{ "how_it_works.Einlagensicherung" | translate }}</strong></p>
            <p>
              {{ "how_it_works.Recht" | translate }}

            </p>
          </div>
        </div>
      </div>
      <div class=" col-lg-4 col-md-12 col-xs-12">
        <div>
          <div class="text-start">
            <p><strong>{{ "how_it_works.Clevere" | translate }}</strong></p>
            <p>
              {{ "how_it_works.Mit" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h1 class="h1">
        {{ "how_it_works.Einmal" | translate }}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-6">
      <img alt="" class="d-none d-md-block img-fluid" src="../../../../assets/icon/base/de_ip_sofunktionierts_ipad_nov2020.png"
           width="450px"/>
    </div>
    <div class=" col-md-6">
      <h2 class="h1">
        {{ "how_it_works.Einmal" | translate }}
      </h2>

      <p>
        {{ "how_it_works.unserem" | translate }}
      </p>
      <p>
        <a class="btn btn-orange text-white" routerLink="/registrierung/">{{ "how_it_works.Jetzt" | translate }}</a>
      </p>
      <p>
        {{ "how_it_works.Tages" | translate }}
      </p>
    </div>
  </div>
</div>

<section class="bg-light">
  <div class="bg-light py-5">
    <div class="container">
      <h2 class="fs-1 fw-normal text-center">{{ "how_it_works.Drei" | translate }}</h2>
      <div class="row">
        <div class="container-fluid">

          <div class="d-flex justify-content-evenly">
            <div class="col-md-4 col-xs-12">
              <div>
                <div class="icon-round">
                  <img src="assets/icon/svg/fa-user-lock.svg"/>
                </div>
                <p class="fs-5 text-center">{{ "how_it_works.Kostenlos2" | translate }}</p>
                <div class="text-center">
                  <p>
                    {{ "how_it_works.Sie" | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div>
                <div>
                  <img class="icon-round" src="assets/icon/svg/fa-select.svg"/>
                </div>
                <p class="fs-5 text-center">{{ "how_it_works.Anlageprodukte" | translate }}</p>
                <div class="text-center">
                  <p>
                    {{ "how_it_works.passende" | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div>
                <div class="icon-round">
                  <img src="assets/icon/svg/fa-cash-euro.svg"/>
                </div>
                <p class="fs-5 text-center">{{ "how_it_works.ubertragen" | translate }}</p>
                <div class="text-center">
                  <p>
                    {{ "how_it_works.Nachdem" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="text-center">
        <a class="btn btn-orange  text-white btn-lg" routerLink="/dp-registrierung/" target="_self">
          {{ "how_it_works.ZinUnioner" | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
<div class="m-5">
  <div class="container">
    <div class="d-flex flex-column justify-content-center">
      <h2 class="fs-4 text-center">{{ "how_it_works.Festgeld" | translate }}</h2>
      <div class="text-center align-content-center">
        <a class="btn btn-primary " routerLink="/Tagesgeld"> {{ "how_it_works.Vergleich" | translate }} </a>
      </div>
    </div>
  </div>
</div>
<div class="background-blue-orange-gradient" style="
    --bg-desktop: url(assets/img/gradient-background-v2.svg);
    --bg-tablet: url(assets/img/gradient-background-v2.svg);
    --bg-mobile: url(assets/img/gradient-background-v2.svg);
    background-image: url(assets/img/gradient-background-v2.svg),
      url(assets/img/background-dark.svg);
  ">
  <div class="container text-white pt-5 pb-5">
    <h2 class="h1">{{ "how_it_works.Vorteile" | translate }}</h2>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div>
          <ul class="icon-list">
            <li>
              <strong>{{ "how_it_works.Einfach" | translate }}</strong><br/>
              {{ "how_it_works.Registrieren" | translate }}
            </li>
            <li>
              <strong>{{ "how_it_works.Zinsstark" | translate }}</strong><br/>
              {{ "how_it_works.attraktive" | translate }}
            </li>
            <li>
              <strong>{{ "how_it_works.Sicher" | translate }}</strong><br/>
              {{ "how_it_works.Festgeldern" | translate }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div>
          <ul class="icon-list">
            <li>
              <strong>{{ "how_it_works.Renditeorientiert" | translate }}</strong><br/>
              {{ "how_it_works.Investieren" | translate }}
            </li>
            <li>
              <strong>{{ "how_it_works.Kost" | translate }}</strong><br/>
              {{ "how_it_works.Profitieren" | translate }}
            </li>
            <li>
              <strong>{{ "how_it_works.Transparent" | translate }}</strong><br/>
              {{ "how_it_works.Behalten" | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-light py-4">
  <div class="container">
    <h2 class="h1 text-center p-3">{{ "how_it_works.Auszeichnungen" | translate }}</h2>
    <div class="row">
      <div class="col-md-4 col-xs-12 text-center">
        <img alt="Top Service" class="m-3" src="assets/img/top_service-siegel.jpg"/>
        <p class="h5 text-center">{{ "how_it_works.Service" | translate }}</p>
        <div class="text-center">
          <p class="p-2">
            {{ "how_it_works.wurde" | translate }}
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-center mx-auto">
        <img alt="" class="m-3" src="assets/img/siegel.jpg"/>
        <p class="h5 text-center">{{ "how_it_works.Kritische" | translate }}</p>
        <div class="text-center">
          <p class="p-2">
            {{ "how_it_works.ist" | translate }}
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-center mx-auto">
        <img alt="" class="m-3" src="assets/img/ntv.jpg"/>
        <p class="h5 text-center">{{ "how_it_works.ntv" | translate }}</p>
        <div class="text-center p-2">
          <p>
            {{ "how_it_works.fmh" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
