<div class="header_register" [ngStyle]="{'margin-top':'10px'}">
  Your email
  <div class="header_register_text" [ngStyle]="{'margin-top':'30px'}">
    Enter your email to register in the system
  </div>
</div>

<form [formGroup]="formGroup" class="text_rules">

  <div class="container mx-auto">
    <div [ngStyle]="{'height':'40px'}">
    </div>

    <div class="row mt-2 align_this">
      <div class="col-sm-12 col-md-2 p-0 text-start">
        <div class="some_vol_lab">Cell phone number</div>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label> {{"register.contact.land" | translate}}</mat-label>
          <mat-select [(ngModel)]="mask" [ngModelOptions]="{standalone:true}" [value]="mask">
            <mat-option *ngFor="let mask of masks" [value]="mask">
              <img class="img-container list" src="assets/img/flag/{{mask.flag}}.png"/> {{mask.country}} ({{mask.prefix}})
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 text-start pb-0">
        <div class="some_vol_lab">&nbsp;</div>
        <mat-form-field appearance="outline" class="mx-3" style="width: 100%;">
          <mat-label>Enter your number</mat-label>
          <input formControlName="phone_number" matInput required type="text">
        </mat-form-field>
        <mat-error *ngIf="showError(phoneNumber)">
          <div>{{"register.contact.mobilfunknummer_land" | translate}}</div>
        </mat-error>
      </div>
    </div>

    <div class="row mt-2 some_relative align_this">
      <div class="col-sm-12 col-md-5 text-start p-0">
        <div class="some_vol_lab">Street</div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Enter your street</mat-label>
          <input autocomplete="off" formControlName="street" matInput required type="text" />
          <mat-error *ngIf="showError(houseNumber)">
            <div>
              {{"register.contact.strabe_bitte" | translate}}
            </div>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3 ps-md-3 p-0">
        <div class="some_vol_lab">House no</div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Enter your house no</mat-label>
          <input autocomplete="off" formControlName="house_number" matInput required type="text" />
          <mat-error *ngIf="showError(street)">
            <div>
              {{"register.contact.haus_bitte" | translate}}
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mt-2 some_relative align_this">
      <div class="col-sm-12 col-md-3 text-start p-0">
        <div class="some_vol_lab">Postcode</div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>PLZ</mat-label>
          <input autocomplete="off" formControlName="postal_code" matInput type="number" value="" />
          <mat-error *ngIf="showError(postalCode)">
            Enter your postcode
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-5 ps-md-3 p-0">
        <div class="some_vol_lab">bbb</div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Location</mat-label>
          <input autocomplete="off" formControlName="town" matInput type="text" />
          <mat-error *ngIf="showError(town)">
            Enter your location
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mt-2 align_this">
      <div class="col-sm-12 col-md-8 p-0">
        <div class="some_vol_lab">Country</div>
        <mat-form-field appearance="outline" style="width: 100%" class="some_relative">
          <mat-select [value]="defaultCountry.code">
            <mat-option *ngFor="let country of preferredCountries" [value]="country.code">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button (click)="onSubmit()" class="btn btn-primary das_ist_button" matStepperNext type="submit">
          {{"register.contact.weiter" | translate}}
        </button>
      </div>
    </div>
  </div>

</form>
