<!--<footer class="clearfix mt-5 mb-5">-->

<!--  <div class="container mt-2 mb-2 pt-2 pb-2">-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12 col-sm-8">-->
<!--        <p class="fw-bold fs-5">{{"footer.haben" | translate}}</p>-->
<!--        <ul class="list-unstyled contacts">-->
<!--          <li>-->
<!--            <a [href]="contacts.customer.href" class="text-secondary">-->
<!--              <fa-icon [icon]="faTelephone"></fa-icon>-->
<!--              <span> + {{ contacts.customer.template }} </span>-->

<!--              <br class="d-block d-sm-none" />-->
<!--              {{"footer.time" | translate}}-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a [href]="emails.service.href" class="text-secondary" target="_blank">-->
<!--              <fa-icon [icon]="faEnvelope"></fa-icon>-->
<!--              <span>-->
<!--                {{ emails.support.template }}-->
<!--              </span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="col-xs-12 col-sm-4">-->
<!--        <p class="text-end fw-normal fs-6">{{"footer.folgen" | translate}}</p>-->
<!--        <ul class="list-unstyled list-inline text-end">-->
<!--          <li class="list-inline-item btn">-->
<!--            <a href="https://www.instagram.com/zinsunionde/" target="_blank"><i class="fa fa-instagram"></i></a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <section class="pt-3">-->
<!--      <div class="footer-imprint border-top">-->
<!--        <div class="imprint-menu-copyright">-->
<!--          <nav class="clearfix">-->
<!--            <ul class="copyrights">-->
<!--              <li>-->
<!--                <a class="nav-main-link" routerLink="/about/imprint">{{"footer.imprint" | translate}}</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a class="nav-main-link" routerLink="/about/security">{{ "footer.data_protection" | translate }}-->
<!--                </a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a class="nav-main-link" routerLink="/about/privacy">-->
<!--                  {{ "footer.it_security" | translate }}-->
<!--                </a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a class="nav-main-link" routerLink="/about/terms">-->
<!--                  {{ "footer.terms_of_service" | translate }}</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </nav>-->
<!--        </div>-->
<!--        <span class="px-3 mx-1 copyright">© 2021 Zinsunion</span>-->

<!--        <div class="footer-imprint-trust">-->
<!--          <div class="py-1">-->
<!--            <img class="img-fluid" src="assets/icon/footer/actnow_ghost.png" />-->
<!--            <img class="img-fluid" src="assets/icon/footer/footer-trust-1.png" />-->
<!--            <img class="img-fluid" src="assets/icon/footer/comodo_secure_seal.png" />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--  </div>-->
<!--</footer>-->
